[2017-07-01 08:15] ytti commented on #891
We also support encrypting the CSV file. Thansk @sebisme for your example.

[2017-07-01 08:25] #878 closed

[2017-07-01 08:26] sanjmonkey commented on #474
Exactly, I imagine the OP was already enabled and had no reason to send enable again.

Sandy

[2017-07-01 08:28] ytti commented on #888
It does not work is not super helpful. Perhaps paste mistake, but in your shown config you're missing hooks and you have wrong indent.
You might want to simplify and try with single event only, like post_store only. And see if other cases regarding hooks are helpful.

Good luck.

[2017-07-01 08:34] ytti commented on #887
This might be bit of a pickle to debug. As you need to wait 1-2 months to get more data. For shit and giggles, if it's easy, try to update oxidized, ruby and kernel to latest and greatest and see if problem remains constant.

[2017-07-01 08:40] ytti commented on #883
[code]

The code seems to support timeout option, which we pass: https://github.com/ytti/oxidized/blob/master/lib/oxidized/input/ssh.rb#L35

So by increasing timeout in config, it should allow longer time for ServerVersion negotiation.

[2017-07-01 08:40] ytti commented on #876
Waiting for answer to question posted buy @rbeumer

[2017-07-01 08:43] ytti commented on #867
View the output file in some editor which shows special characters, often times the regexps are not matching because theres is some non-printable character. Often ```\r```.

[2017-07-01 08:44] ytti commented on #881
No, but you could create faux router.db with only single device?

[2017-07-01 08:45] ytti commented on #879
Perhaps it does not recognise the password prompt? Maybe it's different to model regexp?

[2017-07-01 08:47] ytti commented on #877
We don't have any default mapping, because we don't know what people call the devices in their inventory systems.
But you could potentially update README.md to reflect that it is supported, and then just link the operating system in README.md to ios?

[2017-07-01 15:59] spinza commented on #900
I really don't know ruby.  So how do I work it in here:
[code]

How about this at [L17 in routeros.rb](https://github.com/ytti/oxidized/blob/master/lib/oxidized/model/routeros.rb#L17)?
[code]

[2017-07-01 21:02] papatango71 commented on #904
YTTI,

Thank you for the info...  Should ssh_proxy be as var_map under each device group..??  Or should it be a global variable...??  I need to use the bastion host in order to reach all of my devices.  Below is my config....  Please let me know your thoughts.

username: oxidized
password: XXXX
model: cisco
interval: 3600
use_syslog: true
log: /home/oxidized/.config/oxidized/logs/
debug: false
ssh

[2017-07-01 21:25] networkpadawan commented on #901
Is this the same for show/node/NODEID ?

[2017-07-02 08:31] ytti commented on #901
No. show/node finds first index with given IP or Name, i.e. it's not deterministic. However it'll also return group info.

[2017-07-02 08:35] ytti commented on #904
If for example you'd have ssh_proxy in SQL under 'super_pooper' row, you'd need to map that super_pooper into ssh_proxy.

If you're writing the ssh_proxy in config statically, you just need to define it under vars. Vars can be global,  per-model or per-group, like you had, so your original config, had the var name be right, should work. Just it also had unncessary map.

[2017-07-02 08:41] ytti commented on #900
Your example should work.

[2017-07-02 08:49] ytti commented on #875
What do you mean 'login again', do you mean it'll give another password prompt?

Main problems seesm to be:

  1. need to input data, before authenticating.  (we can't do this now, but it would be easy to add)
  2. need to login twice, if this means need to telnet/ssh twice, it's harder problem than 1. but something we'd be able to do, if I'll find time/motivation for refactor (same solution would

[2017-07-02 08:49] #873 closed

[2017-07-02 08:52] ytti commented on #868
Which oxidized version are you using (auth per model is new feature), upgrade to latest.

And as @davromaniak said the config you've shown is incorrect. In second post you don't even have ```models``` section. In first post, you incorrectly use 'cisco' as model, the model's name is 'ios' in oxidized.

[2017-07-02 09:02] ytti commented on #871
Just stabbing in the dark here.

It's probably race condition now if Oxidized main thread or Puma thread gets the HUP.

We probably want the puma thread to stop accepting HUP trap:
https://ruby-doc.org/core-2.2.0/Thread.html#method-c-handle_interrupt

We start Puma here:
https://github.com/ytti/oxidized-web/blob/master/lib/oxidized/web.rb#L28

[2017-07-02 09:04] ytti commented on #864
I'm happy to accept changes to the service file.

[2017-07-02 09:08] ytti commented on #809
Also please fetch the source with ```curl``` to show what kind of data you're seeing. I suspect you're not getting the JSON at all with your request.

[2017-07-02 09:09] ytti commented on #869
You can pass prompt even in node details. But this seems benign change. Please send PR, and add in commit message ```fixes #869```

[2017-07-02 09:09] #862 closed

[2017-07-02 09:10] ytti commented on #866
This is probably oxidized-web issue, if I understood correctly.

[2017-07-02 09:15] ytti commented on #863
This looks good to me. Perhaps guard it to debug? I.e. something like:

[code]

Or use ```Oxidized.logger.debug``` like:
[code]

Or any other solution which gives you sufficient amount of information to solve your mistake.

[2017-07-02 09:58] #900 closed

[2017-07-02 10:14] spinza opened #908 "TImeout for fetching config"
I'm using this to fetch configs from a large non-profit community network.  The devices are not always under my control and some of the devices appear to take a long time to respond.  Particularly some of the devices seem to retain and active SSH connection but take a long time to send the actual config.

I've seen a device take 45min to fetch a config.  This is fetched via SSH with an SSH timeout

[2017-07-02 10:28] networkpadawan commented on #901
But it always returns the first one? because when i try /node/show/NODE, i get a node not found, but with /node/show/GROUP/NODE it works ok. my problem is that librenms is having issues with group support, meaning the request only goes with the node info. But they are having a hard time reproducing the problem. I think it´s becase they use the "default" group on their tests.

[2017-07-02 10:51] fxkr commented on #863
I'd say whether to show a backtrace and not losing half the backtrace due to re-raising are different issues.

## Showing or hiding backtraces

I think the decision should be made at the highest level the exception propagates to, instead of at the re-raise location. That way you also prevent code duplication like the custom formatting you proposed above would have eventually lead to (if you re-rai

[2017-07-02 11:14] ytti commented on #863
Looks good to me.

[2017-07-02 11:17] ytti commented on #901
Show should find first one, fetch should require group. If this is not true, then it's a bug. If this is undesired behaviour but true, then it's enhancement.

[2017-07-02 11:19] ytti commented on #908
When you do it manually when it takes long time, what is happening on the screen? As long as there input within timeout, we should be fine.
We do not have overall timeout for specific node, it wouldn't be hard to implement.

[2017-07-02 12:31] networkpadawan commented on #901
your software, you tell me:) i can tell you that right now, it returns node not found, when using /show/node/NODEID when using single_repo and groups.

[2017-07-02 12:49] ytti commented on #901
I can't immediately explain that. The code is:

https://github.com/ytti/oxidized/blob/master/lib/oxidized/nodes.rb#L54-L55

It should not know anything about single_repo, or output at all. It just looks at nodes array for index which has NODEID name or IP, then returns data about that node.

Literally this fails:
https://github.com/ytti/oxidized/blob/master/lib/oxidized/nodes.rb#L130-L132

And you

[2017-07-02 15:00] spinza commented on #908
Definitely a weird error on the device.  It just hangs at a point but eventually completes with error messages.

[2017-07-02 16:02] networkpadawan commented on #901
it his the valid name. the tests are just done with or without group on the URL. ill try to post curl examples asap.

[2017-07-02 16:12] spinza commented on #908
If you give me a hint on how to do it I'd be happy to add.

[2017-07-02 16:37] ytti commented on #908
What is your timeout currently? To me it sounds like there is no output coming from system for long time, that should trigger timeout.

[2017-07-02 16:48] spinza commented on #908
15 seconds.

[2017-07-02 19:27] laf commented on #527
@ytti This looks like this can be closed, the OP hasn't responded to the last two replies in over 6 months.

[2017-07-02 19:33] laf commented on #576
@lobo5519 Any further update on this?

[2017-07-02 19:34] laf commented on #573
@Alwaysin Have you managed to resolve this from the info ytti has given you?

[2017-07-02 19:36] laf commented on #566
@alexal12 The procurve model has been updated about 5 times since your original issue, have you updated recently to test this? If so and it still doesn't work, have you provided the info needed that ytti has asked for?

[2017-07-02 19:39] laf commented on #468
@dandunckelman How did you get on with this? Any further info on what you are seeing?

[2017-07-02 19:45] laf commented on #338
@ytti This can be closed as #859 covers this.

[2017-07-02 19:46] laf commented on #388
@ytti This can be closed now as #859 resolves this afaik.

[2017-07-02 19:54] laf commented on #411
@brokerdavelhr How did you get on with this? Oxidized has native support for disabling ssl checking now:

[code]

[2017-07-02 19:56] laf commented on #225
@ytti proposing to close in favour of #511 which has a little more discussion around it.

[2017-07-02 19:59] laf commented on #714
@jasonyates Have you looked at what ytti has linked to and does this help you?

[2017-07-02 20:00] laf commented on #599
@nbarry101 have you tried the patch that ytti has provided?

[2017-07-02 20:01] laf commented on #686
PR #895 may help with this. @jlixfeld Can you try that PR and see if it works for you?

[2017-07-02 20:03] laf commented on #685
@ytti This is a duplicate of #625.

[2017-07-02 20:04] laf commented on #672
@bradvido Did you manage to look at this?

[2017-07-02 20:05] laf commented on #651
@arturs0 Any response to this?

[2017-07-02 20:08] laf commented on #643
@nktl Have you managed to look into this further?

[2017-07-02 20:08] laf commented on #642
@sebisme Have you tried ytti's suggestion?

[2017-07-02 20:09] laf commented on #636
@jonare77 Did you fix the indentation issue?

[2017-07-02 20:10] laf commented on #617
@ytti Looks like this can be closed, questions have been answered

[2017-07-02 20:13] laf commented on #784
@ytti Proposing this is closed as auth is dealt with outside of oxidized-web

[2017-07-02 20:13] laf commented on #792
@kristoferus75 Is this still an issue?

[2017-07-02 20:14] laf commented on #800
@InsaneSplash Any updated on this?

[2017-07-02 20:15] laf commented on #899
@kunwon1 Any update on this?

[2017-07-02 20:17] laf commented on #829
@ivarhjulben Is your issue now solved?

[2017-07-02 22:25] nbarry101 commented on #599
@laf apologies, I feel bad for pushing @ytti to look into this, as shortly after he did I moved out of that role, and haven't had a chance to attempt the update.
Hopefully someone else finds it useful!
As a workaround I have put the switch names in the hosts file.

[2017-07-03 06:52] laf commented on #599
No worries :) As it's recorded here then maybe it's worth closing for now as people can search and find this if they experience similar issues @nbarry101

[2017-07-03 09:57] #784 closed

[2017-07-03 09:57] #617 closed

[2017-07-03 09:58] #685 closed

[2017-07-03 09:59] #225 closed

[2017-07-03 09:59] #388 closed

[2017-07-03 09:59] #338 closed

[2017-07-03 10:00] #527 closed

[2017-07-03 10:03] ytti commented on #908
It really should give up after 15s and raise timeout. When we run any command via ```cmd```, we expect to see prompt or data in ```timeout``` if we don't see prompt or data, we give up.

So really if there is no input for 15s, it already should be timing out.

Can you test with telnet, if behaviour is same? Can you reliably reproduce it in SSH, or does it only happen occasionally?

[2017-07-03 12:17] nktl commented on #643
No sorry - After spending a lot of time troubleshooting this, I eventually gave up and now use local oxidized git repo + crude cron job to execute git push to our Bitbucket.

[2017-07-03 13:34] laf commented on #643
Might be worth closing for now then.

[2017-07-03 13:45] nktl commented on #643
Yes, please close it - will re-open if this ever has to be revisited later.

[2017-07-03 14:32] casdr opened #912 "Custom global gsub"
We have some custom gsub rules that hides lines for several models. One example is that we have a user that logs in to check if firewall rules are applied. If everything is already applied, the configuration itself won't change, but it'll change the "Last configuration change by..." line.

I've excluded this line now, but probably not all users want this too. My suggestion is to add a configuratio

[2017-07-03 14:57] ytti commented on #912
Dunno what platform that is, but at least in IOS you won't get that unless you enter configuration mode. And of course you can review config without being in configuration mode.

You could create your own model in  ```~/.config/oxidized/model/modelname.rb``` and reopen the distribution one:

[code]

[2017-07-03 17:38] kristoferus75 commented on #792
Hi laf ! Yes from the oxidized man i got no answer  ! But if have now installed oxidized in a docker container and now it work also with and in librenms :-) docker container should not be the solution but ok it work ! You can close this ticket ! kind regards kristoferus75

[2017-07-03 17:47] laf commented on #792
If it works in a docker container then it should be no different here. I can't close the issue so you'll need to :)

[2017-07-03 18:29] chipgwyn commented on #840
I wanted similar functionality and did the following:

`  cmd 'show configuration | no-more' do |cfg|
    cfg
  end

  cmd 'show configuration commands | no-more' do |cfg|
    comment cfg
  end`

This way you end with both versions in the config file.  If need be you can load the config directly since all the "set" commands are commented out.  If you need the set commands they're there at the bott

[2017-07-03 19:10] spinza commented on #908
Not too difficult to repeat now.  I can certainly make it stand still for 15s at least.  Is there a logging option that will help?

[2017-07-04 05:03] dandunckelman commented on #468
@laf No.  I gave up months ago.

I'll close for now.

[2017-07-04 05:03] #468 closed

[2017-07-04 06:58] casdr commented on #912
Totally forgot about doing it that way, thanks @ytti :)

[2017-07-04 06:58] #912 closed

[2017-07-04 07:30] casdr commented on #912
If others want the same, I've fixed this by creating the following file in `~/.config/oxidized/model/fortios.rb`

[code]

[2017-07-04 08:00] WiXZlo commented on #566
HP1910 works excellent as model Comware with
 `   vars_map:`
  `    comware_cmdline: 6`
For 1910 password "512900", for 1920 password "Jinhua1920unauthorized"

[2017-07-04 08:41] ytti commented on #908
There is really only:
[code]

First adds more verbose debugging, second adds input  (telnet, ssh, ftp...) session logging.

[2017-07-04 08:43] ytti commented on #840
We do support multifile saves.

[code]

[2017-07-04 08:47] #792 closed

[2017-07-04 09:10] WiXZlo opened #913 "Cannot backup large configuration Cisco UCS"
Hello.
I have UCS Blade server, UCS Manager based on NXOS with different commands. I created new model:
[code]
I see in backup only output of inventory's commands but output of command 'show configuration all | no-more' is empty.
There are no errors in log file:
[code]
Maybe because the output is 500KB and contains ~8200 rows.
How can I backup such a large configuration?

[2017-07-04 10:03] laf commented on #891
@sebisme Do you need any more info?

[2017-07-04 10:04] laf commented on #888
@goro22052 Any further feedback on this?

[2017-07-04 10:05] laf commented on #887
@jasonyates Have you managed to test updating the software like ytti has said?

[2017-07-04 10:06] laf commented on #883
@tomranson Have you tested increasing the timeout option as per ytti's response?

[2017-07-04 10:08] laf commented on #876
@paszczus Any update on this?

[2017-07-04 10:15] laf commented on #759
@BenoitJ76 Do you need anymore information?

[2017-07-04 10:20] laf commented on #604
@mkesler80 Was your issue resolved?

[2017-07-04 10:26] laf commented on #478
@jbaker48 can this issue be closed now?

[2017-07-04 10:27] laf commented on #569
The PR to fix this was merged in so closing this now.

[2017-07-04 10:27] #569 closed

[2017-07-04 10:27] laf commented on #530
@ijg0 Have you tried what @jgroom33 has recommended?

[2017-07-04 10:28] laf commented on #562
This should now be resolved as #859 was merged in.

[2017-07-04 10:28] #562 closed

[2017-07-04 10:35] davromaniak commented on #864
Hi.

I will do this at the end of the month, as I'm currently on vacation with no access to any running Oxidized instance :).

Thanks.

[2017-07-04 10:53] ijg0 commented on #530
@laf - I worked through this with @ytti. The cause wasn't confirmed but was believed to be fixed after upgrading net-ssh (see issue 565).

[2017-07-04 11:13] laf commented on #530
@ijg0 So can this be closed if it's now resolved?

[2017-07-04 19:36] tslytsly opened #915 "WebUI not working after Nginx config changes"
Hi,
The server that I run oxidized on is also our LibreNMS server.
I have just configured LNMS to use HTTPS, this involved changing the Nginx config to redirect port 80 to port 443.
As far as I can tell this should not have affected Oxidized.

But now it doesn't seem to start correctly.

The logs show that it is crashing, this is the "crash" file that is produced:
[code]

Any help would be appreci

[2017-07-04 20:19] laf commented on #915
The change to nginx shouldn't have any effect on Oxidized here as you're starting it on a different port. Check you don't have another version of oxidized running on port 8888

[2017-07-04 23:51] jbaker48 commented on #478
@laf this is good to close.

Thanks for the help

[2017-07-04 23:51] #478 closed

[2017-07-05 10:01] tslytsly commented on #915
Fixed it.
The problem was that I went from:
[code]

to:
[code]

This was causing a hairpin NAT problem.

Set up a split DNS to provide the _internal ip_ when a local device does a DNS lookup and all is well again.

[2017-07-05 10:01] #915 closed

[2017-07-05 10:04] ytti commented on #913
Did you try with:
[code]

And monitor the output in the file created?

My two guesses based on information available:

  1. your oxidized user is not allowed to use the command
  2. model has prompt detection issues and is detecting earlier string as prompt, so it does not wait to read the output as it already found prompt. (often caused by ```send``` in model, when prompt follows, but ```send```

[2017-07-05 14:50] tslytsly opened #916 "Adding new model for Avaya ERS"
We have a large number of Avaya ERS 3500 switches.
In many ways the CLI and commands are like Cisco iOS, but there are differences.

I can get away with using the iOS model, but it does generate errors.

I'd like to add support for the Avaya command line, is it as simple as adding a new file to the /oxidized/model directory?
Thanks

[2017-07-05 15:07] ytti commented on #916
We already have two Avaya models:

------
Avaya

VOSS (VSP Operating System Software)
BOSS (Baystack Operating System Software)
-----

Starting new model is as easy as creating file in ```~/.config/oxidixed/model/modelname.rb```

[2017-07-05 15:21] tslytsly commented on #916
Ah, great.
I'll have a play with the BOSS model.

Thanks

[2017-07-05 15:21] #916 closed

[2017-07-05 20:25] laf commented on #881
@oernii Do you need anything further?

[2017-07-05 20:25] laf commented on #879
@Punicaa Do you have any further feedback to provide?

[2017-07-05 23:39] papatango71 commented on #904
I was able to get the ssh_proxy config working.  Thank you for all the help.

-Patrick

[2017-07-05 23:39] #904 closed

[2017-07-06 08:27] #877 closed

[2017-07-06 12:32] candlerb opened #919 "Would like to be able to set timeout for models or individual devices"
I am connecting to an ASA5520 and for some reason the ssh connection (at least in debug mode) is very slow: it scrolls past at about 1 screen per second.  It takes more than the default 20 second timeout to get the full config.

I would like to override this at the model level, but have not been able to.  If I use

[code]

then it still aborts after 20 seconds (and then connects again and retries)

[2017-07-06 12:57] ytti commented on #919
Currently timeout is global only. We'd need to add something like ```resolve_timeout``` here: https://github.com/ytti/oxidized/blob/master/lib/oxidized/node.rb

And then replace all instances of Oxidized.timeout with node.timeout.

[2017-07-06 13:15] infinite-ideation commented on #899
Reviewed this with a SW NSA2500 and a TZ200, the sonicwall default SSH username is whatever the default admin username is.

In a factory default configuration, the default username for admin is 'admin' followed by the password.

The NSA series has three inputs:

Prompt 1:  Login as: (this seems to be arbitrary, doesn't matter, enter 'admin' to be safe)
Prompt 2:  User: (this is where you would ent

[2017-07-06 13:20] candlerb opened #920 "Problems with Netgear GSM7352 and telnet"
Trying to connect to GSM7352 over telnet. Sample manual session:

[code]

Problem 1: oxidized doesn't recognise the "User:" prompt.  It looks like this is not configurable, so I patched it:

[code]

Problem 2: I need oxidized to type "enable", but not to enter an enable password.  In the netgear.rb source, it looks like this should be possible by setting the "enable" var to a (ruby) "True".

It to

[2017-07-06 13:21] ytti commented on #899
And all of these are SSH examples? The TX would work with normal model which defines userrname and password regexp.

I don't think the NSA model would work right now, except with some dirty hack which makes User: a prompt, so it'll succeed login after 'login as' prompt. Then use ```post_login``` to handle the set second login, then reset prompt to something more sensible.
We probably should have l

[2017-07-06 13:31] infinite-ideation commented on #899
I actually just read the Sonicwall documentation and it's advised to insert 'root' as the user handle if prompted for "login as". The image above is an NSA sonicwall, not the *TZ series, sorry not TX.

Here's a screenshot for a TZ
![tzcapture](https://user-images.githubusercontent.com/29865604/27913172-3f322ee2-622d-11e7-9624-86b56d1bbe6e.JPG)

If I had to propose a solution, I'd recommend (for th

[2017-07-06 13:38] ytti commented on #920
Thank. Send a PR.

[2017-07-06 13:40] ytti commented on #899
Maybe if we implement ```pre_login```. And have something like

[code]

Then it would continue to login.

[2017-07-06 15:30] ytti commented on #899
That won't work, because we don't have ```pre_login```, I'd need to implement one first.

[2017-07-06 17:01] brokerdavelhr commented on #411
Not using https, so I have no answer for that - but this is how I have it working on regular 80 or 8080 as opposed to 443:
How I installed/ first ran Oxidized:
--------------

First install RUBY ***NOTE - Rmove first if using ubuntu 16.04!***

sudo apt-get remove ruby

cd $HOME

sudo apt-get update

sudo apt-get install git-core curl zlib1g-dev build-essential libssl-dev libreadline-dev libyaml-de

[2017-07-06 18:09] papatango71 opened #922 "Continuous errors in logs :: status no_connection, retries exhausted, giving up"
I continuously see these errors in the syslog for oxidized.  I have checked a large majority of the devices that are reporting errors and they are all successfully able to be logged into via oxidized's username and password when done on the CLI.  Is this issue due to a module that is outdated..??

Jul  6 18:02:17 nms01-eqch2 oxidized[11033]: x.x.x.x raised Timeout::Error with msg "execution expire

[2017-07-06 20:11] laf commented on #922
Is that all the output?

What's your timeout value in oxidized config?

[2017-07-06 20:12] laf commented on #922
If that is all the output then have you enabled debug in the config file to get more info?

[2017-07-06 20:47] candlerb commented on #919
Thank you.

FYI, the problem goes away when input debug mode is turned off - the whole connection and config download takes under 10 seconds.

However, with input debug turned on, the execution of "show running-config" takes substantially longer than 20 seconds.

So another solution would be to try to find out why input debug is so slow; after all, it is just appending to a file.  (Is it doing thi

[2017-07-06 21:01] candlerb opened #924 "Extraneous spacing when viewing specific version"
When I directly view the config from the front page, everything is fine.

However, if I click on the "versions" icon, and then select a specific version, I see the output with excessive padding (looks like triple-spaced).  This is with Chrome under OSX. If I 'inspect' the element then I see:

![image](https://user-images.githubusercontent.com/44789/27932648-6e88ec4e-6296-11e7-99c9-b2eef5d8402e.png

[2017-07-06 21:05] ytti commented on #924
This is oxidized-web issue. Pull request to oxidized-web would be greatly appreciated. By now almost none of the views code and CSS is written by me. So in all probability you already know more about it than I do.

[2017-07-06 21:07] candlerb opened #925 "Spurious HTML escaping in version/diff view"
When viewing a specific version or diff to previous version, an extra level of HTML escaping is taking place.

Viewing the latest config directly from the front page is fine:

![image](https://user-images.githubusercontent.com/44789/27932929-67002bc6-6297-11e7-88d5-04f6e287a016.png)

But viewing a specific version:

![image](https://user-images.githubusercontent.com/44789/27932875-39ccb46c-6297-11

[2017-07-06 21:12] candlerb commented on #925
Wrong repo, sorry

[2017-07-06 21:12] #925 closed

[2017-07-06 21:13] candlerb commented on #924
Sorry about that. I think that https://github.com/ytti/oxidized-web/issues/132 already covers this, but the screenshots here may be helpful.

[2017-07-06 21:13] #924 closed

[2017-07-06 21:20] papatango71 commented on #922
I have the following enabled for debug in the config file as well as increased the timeout from 40 to 120 but no change.

Global
timeout: 120
log: /home/oxidized/.config/oxidized/logs/
debug: true

input:
  default: ssh, telnet
  debug: true
  ssh:
    secure: false

When I look at the logs directory for one of the devices I do see that a config was collected:

oxidized@nms01-eqch2
[/home/oxidized

[2017-07-06 21:25] laf commented on #922
That's the debug output rather than config afaik. Post the full info from each.

[2017-07-06 21:25] candlerb opened #926 "Improve handling of enable mode?"
I have some Dell Powerconnect 5524 and an N1548.

5524 are fine.  With the N1548, initially I was getting downloaded and stored config like this:

[code]

The problem was actually that I had not set an enable password in oxidized, and after configuring it was fine.

However it would be good if the powerconnect module (and perhaps others) could be more robust against problems with not being in enab

[2017-07-06 21:34] papatango71 commented on #922
---
username: oxidized
password: xxx
model: cisco
interval: 3600
use_syslog: true
log: /home/oxidized/.config/oxidized/logs/
debug: true
threads: 30
timeout: 120
retries: 3
prompt: !ruby/regexp /^([\w.@-]+[#>]\s?)$/
rest: 127.0.0.1:8888
next_adds_job: false
vars: {}
groups:
  cisco:
    username: oxidized
    password: xxx
  juniper:
    username: oxidized
    password: xxx
  opengear:
    usernam

[2017-07-07 10:16] mkevenaar opened #927 "Add support for setting hmac"
Hi,

some of our switches require to set a hmac.

Can you add this to your code?

Thanks in advance

Maurice

[2017-07-07 10:45] #920 closed

[2017-07-07 10:48] ytti commented on #926
The example is broken, ```send``` does not expect prompt. If prompt anyhow comes, then next ```cmd``` may end before it sees any new text, because it sees unconsumed prompt in output and decides it got the config.

We have at least 3 cases:
   a) no enable
   b) enable, but no password (returns to propmt)
   c) enable, with password (gets enable password prompt)

This would take care of those thre

[2017-07-07 10:51] ytti commented on #927
sure send pull request

[2017-07-07 11:07] ytti commented on #899
This may or may not work:
https://github.com/ytti/oxidized/commit/72a6619986086df4d8db876ca0424f6bb6671b1b

[2017-07-07 11:38] candlerb commented on #926
That's better, but you still have to correctly configure which devices need enable plus password, which devices need enable, and which devices don't need enable.

Could this be handled automatically?

* Connect, wait for username prompt
* Send username
* Wait for password prompt
* Send password
* Wait for either '>' or '#' prompt
* If the result is '#': we are done
* If the result is '>':
    * Se

[2017-07-07 11:49] ytti commented on #926
Well this clearly isn't universal. Whole concept of 'enable' isn't universal. Prompt isn't universal. So what ever it is, it has to be in the model, not generic.

And if you have enable password, we cannot know what it is, so you have to give it to us, if you give it to us, we know we need to enable.

Only thing  that could be improved, is case where enable is needed but not enable password. But w

[2017-07-07 12:24] candlerb commented on #926
Actually, in rancid I also had to explicitly set `add autoenable ... 1` to those devices which didn't require an enable command to be sent, so I can't really complain `:-)`

However, rancid (at least clogin) does automatically detect after sending the "enable" command whether any password needs to be sent or not:

[code]

In oxidized I have to set either `enable: "string"` or `enable: True`, which

[2017-07-07 13:03] ytti commented on #926
"true" string in CVS file will become true value, so you can do it from CSV, if you can't its a bug.

This is nothing inherently stopping you from detecting enable prompt in model and sending enter if no enable is configured.
We can look at the prompt, look if it has > and send enable + new line, per model.

For debugging, you're right. Easiest is just to have mock router.db with single device. I'

[2017-07-07 14:31] WiXZlo commented on #913
Yes, I try with
[code]
but output without last command "show configuration all | no-more".

1. User is allowed to use the command
2. But commands of inventory work fine.
Prompt string
`ucs1-A#`
and example of first 20 lines
[code]
And it's different from prompt.

[2017-07-07 14:34] ytti commented on #913
So in the debug file, what is in the end of it?

[2017-07-07 16:41] papatango71 commented on #922
This issue seems very close to the issue in https://github.com/ytti/oxidized/issues/360.  I checked and I am running the recommended net-ssh version 3.0.2.   I tried downgrading to net-ssh 3.0.1 but oxidized seems to only run with net-ssh 3.0.2.  This issue is effecting 12 routers but all my other devices are fine.  Not sure where to go from here.   Any help would be greatly appreciated.

[2017-07-07 18:18] papatango71 commented on #360
bartdebruijn... checking to see if you are still having issues or not... If not, what did you do to correct the issue..??

Thank you.

-Patrick

[2017-07-08 07:03] ytti commented on #922
Can you try to build oxidized from the git (git clone; cd oxidized*; rake build; gem install pkg/oxidized*). And see if that helps.

[2017-07-09 23:21] mattie47 opened #929 "Add support for Allied Telesis"
https://www.alliedtelesis.com/products/software/AlliedWare-Plus

I've written the following config which seems to work okay, but I'm not entirely sure if it's the correct way of doing it.

[code]

As per the comments above:
- Run "show system" when the device first logs in. This is similar to Cisco's show inventory, but has some more detailed information as per the example below.
- Priv 15 does no

[2017-07-10 04:36] mattie47 opened #930 "Weird line spacing when looking at git diffs"
Hi,

So I've just got Oxidized working today, and along with that I've just outputted data to a git repo.

However, when trying to look at any device diffs, I'm getting some rather strange line spacing (effectively making the output unreadable:

Please see below:

![image](https://user-images.githubusercontent.com/4696925/28002877-12c06172-658d-11e7-93c0-d0417bc37063.png)

![image](https://user-im

[2017-07-10 09:39] ytti commented on #930
This is oxidized-web issue, and I believe it has been fixed in recent pull request, just not released yet.

[2017-07-10 09:39] #930 closed

[2017-07-10 15:03] gbeekmans opened #931 "FortiOS changes private key encryption every time config is downloaded"
A feature of FortiOS is that it is designed to re-encrypt Private Key passwords which uses an initialization vector that contains random data. Each time the config is backed up or displayed, a different string is used to in order to enhance security.

The net effect is that every time Oxidized logs into a Fortigate (presumably other devices by Fortinet as well but Fortigate is the only one I use),

[2017-07-10 15:11] gbeekmans commented on #931
I just noticed this section in the fortios.rb file:

  cmd :secret do |cfg|
    cfg.gsub! /(set (?:passwd|password|psksecret)).*/, '\\1 <configuration removed>'
    cfg.gsub! /(set private-key).*-+END ENCRYPTED PRIVATE KEY-*"$/m , '\\1 <configuration removed>'
    cfg
  end

I believe it's already supposed to strip out encrypted private keys but it's obviously not doing that.

Could it be due to t

[2017-07-10 15:13] ytti commented on #931
Yes it can be easily done. It's more of a ruby question than Oxidized question. You could do something like.

[code]

[2017-07-10 15:17] gbeekmans commented on #931
Thanks, ytti. I will try that. I just found an answer to the ":secret" question by setting the remove_secret variable but I am finding it removes too many secrets. I want to keep most of them so I will try your Ruby method above and build on that.

[2017-07-10 18:34] Alwaysin commented on #573
Sorry I won't be able to comment this anymore, the use case is gone :(

[2017-07-10 19:08] papatango71 commented on #922
YTTI,  I did exactly as you instructed and I am getting the exact same error.  This issue is still happening.  It seems to be only effecting Cisco ASR 9000s.  What is confusing is that there is a log file in the debug output that shows that the config was collected.

xidized@nms01-eqch2
[/home/oxidized/.config/oxidized/logs]$ ls -l xx.x.x.x-ssh
-rw-r--r-- 1 oxidized oxidized 44898 Jul 10 18:30 x.x

[2017-07-10 21:07] gbeekmans commented on #931
I think I have a working rewritten fortios.rb model now. Attached is a diff against the original one in case you want to take these changes and incorporate them.

[fortios.rb.zip](https://github.com/ytti/oxidized/files/1137080/fortios.rb.zip)

[2017-07-10 21:19] gbeekmans opened #932 "Suppress subsequent failure emails"
Hi,

We've setup our Oxidized to send emails when changes are detected using the extra/oxidized-report-git-commits script. I also added a failure event handler to send off emails when connecting to nodes is failing for whatever reason so we can investigate.

The issue we're now seeing is that failure emails are coming in every time the "interval" expires and Oxidized re-checks all nodes.

The scri

[2017-07-10 22:49] gbeekmans commented on #834
I'm using Oxidized to track over 50 Fortigates ranging from the bigger 600C units to the smaller 80C ones on all different versions of firmware. I haven't noticed missing VLAN interfaces in the config Oxidized pulls out.

In my Oxidized generated file I see the following (trimmed to make it readable):

config global
...
config system interface
    edit "My VLAN Name"
        set vdom "root"

[2017-07-11 02:54] mattie47 opened #933 "Add extra lines/output to the saved config file."
Hi,

I've been trying to figure out how I can do something as simple as add a comment or new line into the saved config file?

I've spent some time today googling and trying various ruby config but having no major luck.

Take the following example of saved config:

[code]

I simply want to add a line of "-----------" followed by a new line before the "show running-config" starts.

Surely this is s

[2017-07-11 07:44] WiXZlo commented on #913
The debug file contains full output of command "show configuration all | no-more".

[2017-07-11 08:50] rbeumer opened #934 "Oxidized stops backups for one switch (NXOS)"
Our version: 0.19.0
We have an issue with (it seems) NXOS switches. We have two of them and after a random time Oxidized stops making backups for one of those switches. Other OS'es don't seem to have the issue. Forcing an update via the web interface does not work, the status remains green and not blue.

Debug output from the log file shows no entries regarding this device after the last successfu

[2017-07-11 10:51] laf commented on #929
@mattie47 You should submit this as a PR and comments can be made there :)

[2017-07-11 10:55] laf commented on #913
The last line of that command is the same in the debug as if you ran it manually?

[2017-07-11 10:57] laf commented on #933
Do you want to really store the output of different commands to different files? If so take a look at https://github.com/ytti/oxidized/issues/125 and see if it helps.

[2017-07-11 10:58] laf commented on #834
@networkpadawan Do you see the same thing or are you missing something else?

[2017-07-11 11:03] laf commented on #573
If anyone else experiences this, feel free to reply here and we can re-open.

@Alwaysin Thanks for replying.

[2017-07-11 11:03] #573 closed

[2017-07-11 14:19] WiXZlo commented on #913
Yes, output (debug, manually) is the same.

[2017-07-11 15:22] fractalbrain commented on #866
Hi!  I'm having the same issue (I'm using github).  My workaround was to assign everything a "default" group, keep the "single_repo: true", and restart oxidized.

[2017-07-11 20:19] mattie47 commented on #933
Hi @laf ,

Thanks for the reply.

No I don't want to store it as a separate file. I just want format and make the output of the saved device config look legible. I just want to put a line in between the last show command and the beginning of the actual running-config so it's easier to see where the devices config begins.

Thanks,

Matt

[2017-07-11 20:33] mattie47 commented on #929
Done.

I *think* I did it properly. :-)

Thanks,

Matt

[2017-07-12 03:18] mattie47 commented on #930
Correct. This has been fixed by
https://github.com/ytti/oxidized-web/commit/57e32ddca56d8647da332bb24088860359780d91?diff=unified

I was able to edit the two affected files with the above changes and it has fixed my issue.

Thanks,

Matt

[2017-07-12 16:08] networkpadawan commented on #834
Hi, sorry for the delay.
On my Case it was the user that I used.
it needs to be a superadmin to get the full configuration. if you use a vdom admin user you won´t be able to get all the config:)

[2017-07-13 09:32] jgroom33 opened #937 "Reload button on nodes uri doesn't honor rest config entry"
Config file snippet:
....
debug: false
threads: 30
timeout: 20
retries: 3
rest: 0.0.0.0:8888/oxidized
....

Reload button always directs to https://x.x.x.x/reload.json
Reload button *should* direct to https://x.x.x.x/oxidized/reload.json assuming above config snippet

[2017-07-13 09:41] jgroom33 commented on #530
system shell set global-more off
^ correct pre-request line
or if you want something less persistent:
system shell session set more off

[2017-07-13 10:19] laf commented on #530
Thanks @jgroom33. Closing now but feel free to respond if anyone has any further questions.

[2017-07-13 10:19] #530 closed

[2017-07-13 10:20] laf commented on #937
Is this not for [oxidized-web](https://github.com/ytti/oxidized-web) rather than here?

[2017-07-13 10:21] laf commented on #834
@networkpadawan can we close this now then?

[2017-07-13 22:07] jgroom33 commented on #937
Thanks.  I didn't realize they were separate.

[2017-07-13 22:07] #937 closed

[2017-07-14 07:07] networkpadawan commented on #834
yes! of course, forgot to do so.

[2017-07-14 07:07] #834 closed

[2017-07-15 16:16] spinza commented on #908
I've looked at this further and come to the following conclusions:

The code passes the timeout to the Net::SSH module.  Apparently the timeout there is apparently only a connection timeout.  So, once a connection is made it will not timeout based on that setting.  [Found this here:](https://net-ssh.github.io/net-ssh/classes/Net/SSH.html)

I've managed get a timeout by setting `ServerAliveInterval

[2017-07-16 21:08] laf commented on #411
@brokerdavelhr I'm confused, this entire issue was about https.

Can we close the issue?

[2017-07-16 21:08] laf commented on #584
@lakshveer Any feedback on this or can the issue be closed?

[2017-07-17 08:40] darylturner opened #938 "Proper way to handle Sonicwall behaviour"
Admittedly Sonicwalls are odd beasts so this may just be an issue particular to my setup. It seems as though the default SSH auth method isn't taking me through to a prompt and is waiting on a 'Password:' prompt. This is presented after a banner like so.

[code]

I'm new to Oxidized and a brief look into ssh.rb looks like the `password` prompt is only expected after a `username` prompt. In my part

[2017-07-17 08:55] darylturner commented on #938
It's also probably worth saying that this only seems to happen on a particular firmware. We have another Sonicwall that was able to login fine purely by adding the new model.

[2017-07-17 09:44] darylturner commented on #938
Debugging with ssh -vvv shows that the Sonicwall that works out of the box uses the standard SSH password authentication method. The one that requires the workaround uses 'none' and opens a shell to display what must be a custom prompt *sigh*...

[2017-07-17 09:56] darylturner commented on #938
So SSH works fine in 6.2 but 5.9 uses the weird telnet over ssh setup that's also found in #899.

[2017-07-17 10:20] laf commented on #938
@darylturner Thanks for the detailed report and follow up. I'm going to close this though as it seems to be a duplicate of #899 as you've seen. If you feel this is wrong then let us know.

[2017-07-17 10:20] #938 closed

[2017-07-17 12:35] darylturner commented on #899
Where is the pre_login block supposed to be defined? I've created a SonicOS model and built oxidized with the pre_login branch but I'm not seeing any pre_login blocks executed in the debug output.

[code]

[2017-07-17 12:38] davama opened #939 "ciscosmb config backup issue"
I've noticed this for some time now but never really got to trying to figure out why.

Every now and then a ciscosmb device will get it's config updated but with many lines crunch together into a single line.

Here the git diff:

[code]

I'm assuming it's because of latency but really not sure. Anywhere i can look??

Thanks!
-dave

[2017-07-17 12:49] laf commented on #899
@darylturner Are you using the patch that ytti linked to?

[2017-07-17 12:51] darylturner commented on #899
Yes, should be. Did a fresh clone, checkout of 72a6619 and gem build/install.

[code]

[2017-07-17 12:53] darylturner commented on #899
Yes, can see pre_login def in cli.rb.

[2017-07-17 15:54] darylturner commented on #899
There are two pre_login defs in cli.rb. I've renamed the one called by the get method pre_login_run not sure on the convention. My block now gets called but isn't fixing my wonky login. Slightly closer though.

[2017-07-18 08:21] mrplow87 opened #940 "Additional hooks for API calls"
I'm proposing an additional `post_store` hook, if the configuration pull was initialized through an API call (`/node/next/[node_name]`).

The scenario I'm thinking of is this:
Oxidized has a scheduled run once a day (at night for example). Changes found during these scheduled runs should trigger a notification script through the `post_store` hook and inform us about undocumented changes (it could

[2017-07-18 15:52] danilopopeye commented on #931
@gbeekmans could you open a pull request with your diffs?

[2017-07-18 15:56] danilopopeye commented on #929
thanks @mattie47 👏

PR #936

[2017-07-18 15:56] #929 closed

[2017-07-19 09:13] mrplow87 commented on #940
While working through the code ([oxidized-web], [oxidized]), I found out how to submit author and commit message.

For anyone interested:

`curl -X PUT -d '{"user":"Foo Bar","from":"foo@bar.tld","msg":"Your message here"}' "http://127.0.0.1:8888/node/next/node.name.local?format=json"`

This will cause the commit message in your repository to look like this:
`update node.name.local from foo@bar.tld

[2017-07-19 09:41] BullfroG21 opened #941 "Aruba S2500-24P/48P"
Hi,

I have problems fetching the configuration from devices of Aruba S2500-24P/48P.
The node does not fail (at least the Oxidized web GUI is showing green), but there is actually no configuration stored.

I added some verbose messages in the aows.rb model, so I am able to see that Oxidized is able to access the via SSH and the read the configuration.

Does anyone has an idea or a similar issues?

[2017-07-19 12:45] laf commented on #941
You should enable debug in oxidized config as per the README, then take a look at the debug file created for that device.

[2017-07-21 07:07] WiXZlo commented on #913
Can there is a way to find where the problem is? Maybe oxidized execute in debugger (I'm newbie in Ruby)?

[2017-07-24 08:23] rbeumer commented on #934
It seems that Oxidized as a whole is slowing down. Backups are often a few hours late until I restart the service.

[2017-07-24 10:10] WiXZlo commented on #913
With commented output works good
[code]
Backup contains commented output:
[code]

With "dirty hack" I get expected result:
[code]

[2017-07-24 11:58] WiXZlo commented on #913
I found and fixed configuration.
[code]
New model works without troubles.

[2017-07-24 17:15] ding107 commented on #643
I am having this exact same issue. BitBucket uses port 7999 and the hook is trying to connect on port 22 (verified with tcpdump) even with the port in the URL

[2017-07-25 08:51] Ynnot opened #944 "Version crash"
Hi,

When i try to see version of my devices, oxidized crash  with this error :

![image](https://user-images.githubusercontent.com/24589443/28563408-2a93ad82-7126-11e7-95bb-ee3886f0a947.png)

When i search the VmSize and VmPeak on my server i see that VmPeak is bigger than VmSize :

![image](https://user-images.githubusercontent.com/24589443/28563705-0da61074-7127-11e7-94bb-fc27109ef1b0.png)

Do

[2017-07-25 19:52] laf commented on #944
Try starting oxidized in a screen session or in the foreground to see what's recorded when it crashes.

[2017-07-27 08:15] michael-todorovic commented on #879
Hello,
I am having the issue as well.

[code]

After checking ironware.rb, regexp seems ok.

On some other devices (same model/version), SSH works and configuration is read successfully. However, [SSH is buggy](https://www.reddit.com/r/networking/comments/44qyp3/brocade_pushed_out_firmware_to_switches_now_i/) so we have to fallback on telnet, which is not working (yet).

Current tested version of

[2017-07-27 09:38] michael-todorovic opened #945 "Wrong success status on devices with enable"
Hello,
It seems like errors on devices with enable functions are not handled correctly. I had the case where first password is correct BUT enable password was wrong in oxidized configuration.

The first steps are working so it makes oxidized happy. After that, it tries to "enable"and it can't dump the configuration because of the wrong enable password. However, it still shows a success status, whi

[2017-07-27 14:25] ignaqui opened #946 "Driver for Westell 8178G and Westell 8266G devices"
### I'm submitting a ...
- [ ] Bug report
- [X] Feature requested
- [ ] Question / Support request

Hello,

We use Westell devices in our network (mostly Westell 8178G and Westell 8266G), so I wrote a driver for them devices (file attached). Please be aware that ssh daemon is broken on those devices, so only telnet-based shell works.
Maybe it worth to add driver to the code.

Thank you,
ignaqui
[w

[2017-07-27 18:48] laf commented on #946
You should submit a pull request with this new model @ignaqui

[2017-07-28 20:00] merryllem opened #949 "Question: Is Github the required out to enable Config Diff?"
Is Github the required output to enable Config Diff?

[2017-07-28 20:02] davromaniak commented on #949
Hi.

No, you only need to use GIT as the output and Oxidized will create a local GIT repository.

After that, you can place a hook to push it to a remote GIT repository but that's not mandatory.

Thanks.

[2017-07-29 10:17] laf commented on #949
@merryllem You need to use git output to get config diff via the oxidized webui. https://github.com/ytti/oxidized#output-git

From there you can send your configs to a remote git repository as well.

[2017-07-31 13:57] maladd3 opened #953 "Error Loading Config"
On a new installation, I'm getting an error loading config when I try to run oxidized.

[oxidized@Oxidized ~]$ oxidized
Error loading config: (<unknown>): found character that cannot start any token while scanning for the next token at line 34 column 1
/usr/local/share/gems/gems/oxidized-0.20.0/lib/oxidized/config.rb:52:in `rescue in load': Error loading config: (<unknown>): found character that c

[2017-07-31 14:53] kiq-moraes commented on #651
Hi,
How do I configure the groups correctly?
Could you pass some configuration examples?
In the scenario of my oxidized I will use 5 different groups.
Thanks

[2017-07-31 18:58] maladd3 commented on #953
I figured it out with a fresh install.

[2017-07-31 18:59] #953 closed

[2017-07-31 19:57] dblviking opened #954 "XOS comments are showing positive diff hits"
Hi,
Oxidized is working great aside from this minor issue.  I see versions showing up and the only thing that changed was the date and bytes in a commented output from 'show configuration'

 # primary.cfg       Created by ExtremeXOS version 15.2.2.7
-#                   229489 bytes saved on Mon Jul 31 15:08:03 2017
+#                   229536 bytes saved on Mon Jul 31 15:16:25 2017

Oxidized does

[2017-07-31 20:47] laf commented on #954
I've updated the default model, give it a try. I'm not sure it's 100% the approach to take but see if it works first.

https://gist.github.com/laf/be68e281c6b1c2943dd965eeecaedaec

File: `~/model/xos.rb`

[2017-07-31 20:49] laf commented on #651
@kiq-moraes have you tried https://github.com/ytti/oxidized#advanced-group-configuration

[2017-07-31 22:00] victorehp17 opened #955 "SSH connection refused"
Hey guys so i have a couple of devices Powerconnect and Force10 dnos that are able to backup via telnet, but whenever i try to use SSH returns error:

    D, [2017-07-31T16:53:28.593363 #2875] DEBUG -- : 10.200.200.28 raised Errno::ECONNREFUSED with msg "Connection refused - connect(2)"

These are the settings i'm using:

[code]

It seems as if oxidized is not trying port 8422, but 22 instead, or

[2017-08-01 16:41] dblviking commented on #954
Hi there. Thanks for the help.
I added that `show configuration` section to the default model and did a test change on a display-string. Unfortunately the diff shows my configure port 1 display-string test as well as:

[code]

Any ideas?

[2017-08-01 17:27] dblviking commented on #954
Actually I just noticed something. New versions are NOT showing up unless I make a real change on the switch. That's good. The only issue is when you 'Show Diff' after a confirmed change, it shows the + "xxx bytes saved on xxx" line. In a perfect world, I only see the one  +`configure port 1 display-string test123`  line.

[2017-08-01 19:00] laf commented on #954
I thought the file I gave you might work.

You could try: `comment cfg.each_line.reject { |line| line.match / bytes saved on / }` in the show configuration section instead of the gsub.

[2017-08-01 19:06] laf commented on #955
ssh_port under vars_map, that will try and pull in the 8422 field in your csv won't it?

Try ssh_port under groups, node or root level as per: https://github.com/ytti/oxidized/issues/632

[2017-08-01 19:11] dblviking commented on #954
I removed the gsub and added the new line to the xos.rb file.

Unfortunately that bytes line still shows up. I don't get it.

[code]

[2017-08-01 19:12] dblviking commented on #954
here is the modified xos.rb file.

[code]

[2017-08-01 19:29] laf commented on #954
I'm not a ruby guy :(

Try moving the gsub or reject line to the `cmd :all do |cfg|` block

[2017-08-01 21:23] dblviking commented on #954
You know what? I'm starting to think it's not even using xos.rb. I changed the comment line to & (comment  '& ') and removed the show switch section (which was the output that gave the 'bytes on' issue). I was hoping to see SOME change but it showed the same output as always. Is there any way to debug a model or find out what model it used?

[2017-08-01 21:28] laf commented on #954
Where are you putting the files?

You could possibly turn debugging on to see.

[2017-08-02 08:23] sfini commented on #954
Hi.... You can try with
^cfg.gsub! /([\s\t|0-9]*bytes saved ).*/, ''

[2017-08-02 10:08] sfini commented on #931
I have remove the private key with this

`  cmd :secret do |cfg|
#    cfg.gsub! /(set (?:passwd|password|psksecret|secret|key|group-password|secondary-secret|tertiary-secret ENC)).*/, '\\1 <configuration removed>'
    cfg.gsub! /(ENC ).*/, '\\1 <configuration removed>'
    cfg.gsub! /(set private-key).*-+END ENCRYPTED PRIVATE KEY-*"$/m , '\\1 <configuration removed>'
    cfg.gsub! /(set ca ).*-+EN

[2017-08-02 12:57] jdomag commented on #933
Looking for the same thing, any hint would be much appreciated.

[2017-08-02 16:39] dblviking commented on #954
Ok so I FINALLY figured it out. Two things:
It was my assumption that once you change changes to xos.rb and invoked an update from the web interface, oxidize would load the xos.rb file and run the update. It does not. Evidently it's all in memory and I had to restart the oxidized process after every change I made to a template file.

Secondly, the change was needed in the "show switch" section but

[2017-08-02 16:48] sfini commented on #954
@dblviking
Every change on a template , o in the config file need a restart.... If you are still testing or debuging , you can start the process with oxidized -x  ( debug mode ) and put it in bg...

[2017-08-02 19:31] gbeekmans opened #957 "Interval seems to unset threads"
With the interval variable set to '0' I am able to set the 'treads' variable to a sufficiently high number to effectively poll all my configured nodes at once and have it finish up checking everything within a minute or so.

When I set 'interval' to a value (say 3600 to re-check everything hourly) it seems to no longer honour the configured threads. Observing network traffic, it checks nodes one o

[2017-08-02 21:31] laf commented on #957
The interval variable is as far as I'm aware the configured time you want all devices to poll in, more threads will be spawned as needed to accomplish that.

[2017-08-02 21:36] gbeekmans commented on #957
If that is the case, how do I configure Oxidized to re-check all nodes once in a while? Our equipment configuration changes frequently so I'd want to obtain a new set of config files a few times a day at minimum (hourly preferably).

[2017-08-02 21:39] laf commented on #954
If this is something that should be done as a default for this OS then you should submit this change as a pull request.

[2017-08-02 21:39] laf commented on #957
Setting interval to 3600 will attempt to backup the configs once an hour.

[2017-08-02 21:50] gbeekmans opened #958 "Last Update listed sometimes in UTC sometimes in local timezone"
After all nodes have been polled some nodes are showing a last update time in the current timezone ie:
2017-08-02 15:47:42 MDT

For other nodes it shows UTC:
2017-08-02 21:47:57 UTC

What causes this inconsistency?

[2017-08-03 02:00] mattie47 commented on #933
Essentially the feature request is just the ability to pass comments into the saved output file between commands being run.

Thanks,

Matt

[2017-08-03 06:31] jdomag commented on #933
@mattie47
I've done it in the following way. "Insert" puts additional string on the beginning of the output, where "<<" adds the string at the end. Hope it helps.

cmd 'show version' do |cfg|
  cfg.gsub! /(U|u)ptime (.*)/, '<uptime removed>'
  **cfg.insert(0,"\nStaring: show version \n")**
  cfg
  **cfg << "\n Ending: show version \n"**
end

[2017-08-03 15:43] kiq-moraes commented on #651
Hi,
Thanks for help me and sorry for my bad english.
It is currently running without groups, manually entered all information on router.db
I'd like to use with groups to stay more dynamic since we already have about a hundred monitored hosts.
Here are examples of how I tried to configure with groups.

In the 'config' file of oxidized:

groups:
  mikrotik:
    username: admin
    password: admin

[2017-08-03 16:17] laf commented on #651
The map needs to be under `source`. Post your entire config.

[2017-08-03 16:20] laf commented on #933
Thanks for that @jdomag - @mattie47 Does that answer your question?

[2017-08-03 18:14] davama commented on #760
@zxyz  Id noticed that too

https://github.com/ytti/oxidized/pull/921

[2017-08-03 18:17] laf commented on #760
@davama Why have default being optional? Should it not be on by default?

[2017-08-03 18:49] rzig opened #959 "Request to API for devices times out"
Hi. I recently tried to set up oxidized and have it get a list of devices from LibreNMS with the documentation [here](http://docs.librenms.org/Extensions/Oxidized/). When LibreNMS was accessible over HTTP, everything worked great, but after making it HTTPS only, now I'm getting the following error:

[code]
Here's my config:
[code]

I have verified that the endpoint can be reached with Postman. Not

[2017-08-03 19:06] laf commented on #959
You are missing `scheme: https`: https://github.com/ytti/oxidized#source-http

[2017-08-03 19:17] davama commented on #760
placed it that way because everyones env is diff. so you can set or not. up to you
if you want to change that PR then resubmit. it's the same to me

[2017-08-03 19:22] laf commented on #760
I would have thought though network services would be a requirement no matter what though :)

[2017-08-03 19:24] davama commented on #760
agreed
when i first installed i never had it. only later in life of our system did i have to add them. the lines are there so thats a start

[2017-08-04 06:52] laf commented on #949
@merryllem any update on this?

[2017-08-04 12:53] mattie47 commented on #933
@jdomag

Thanks for those useful comments. I hadn't realised you'd edited your post, and added a few more useful things. Thanks!

@laf  Yeah I think my request has been answered.

Using the following config:

[code]

It outputs like so (which is pretty much what I was wanting):

[code]

I haven't got it working perfect yet, but it's definitely in the right step.

Thanks again all.

Matt

[2017-08-04 13:16] laf commented on #933
@mattie47 Ace. I'll close this down then, feel free to reply back if you need it opening.

[2017-08-04 13:16] #933 closed

[2017-08-04 15:57] ignaqui opened #960 "Separate polling schedule for each group of devices"
Hi,

Quite often I receive requests from users to run backup of different devices on different schedule. Say, they want to run backup of core devices every  12 hours, and backup auxiliary devices sitting in the far corner of the network, only once per month. Is there any possibility to granulate this?

Thanks,

[2017-08-04 15:58] ignaqui commented on #958
+1
I have the same exact issue

[2017-08-04 16:13] merryllem commented on #949
Thank you, that answered my question.

[2017-08-04 18:23] #949 closed

[2017-08-04 18:24] laf commented on #960
This isn't possible at the moment as far as I'm aware.

[2017-08-06 22:55] mattie47 opened #961 "Question: Trigger backup from on device and add comments to go into Git commit"
Hi,

So I was thinking it would be quite cool to actually be on a switch/router and trigger oxidized to do a backup.

Furthermore, given that backups are stored in Git, I was hoping to then somehow add a comment into the git backup when I trigger it.

On Allied Telesis products, the user can use bash scripts for this task (and activate the .sh file from the CLI)

Allied Telesis has busybox in the

[2017-08-06 23:55] mattie47 opened #962 "Question: How are people populating their source list of devices?"
I know Oxidized has a lot of potential, especially given that the source list of devices can either be a static file, or an sql database etc.

What I'm curious about, is how people may be populating this information dynamically?

There is probably a hundred ways to do this, but I'm just curious what people may be currently doing.

Any tips/thoughts/comments?

Three ways I'm intrigued to try (but n

[2017-08-07 11:27] telskamp opened #964 "How to correctly configure passwords with special characters in config file?"
Hey  Guys sorry to  ask this noob question  I am currently configuring an oxidized docker to work with my librenms monitoring server.
I managed to get the device import from librenms working. However since we are using passwords that begin and/or end with special characters I cannot get it to work.
If i just put the passwords in like below oxidized errors and wont start, However if i put them betw

[2017-08-07 12:10] laf commented on #964
You could try escaping the chars, `\*BLABLA\?

[2017-08-07 12:29] telskamp commented on #964
the character  ``   is not accepted at all it seems:
`Error loading config: (<unknown>): found character that cannot start any token while scanning for the next token at line 54 column 15 (Oxidized::InvalidConfig)`

[2017-08-07 12:30] laf commented on #964
Sorry that was my mistake, missed the other ` which was to show code rather than for you to use. Take another look.

[2017-08-07 12:35] telskamp commented on #964
np, I am now trying with backslashes, will report back in a bit. Is it me or is this yaml format just a pain in the behind?

[2017-08-07 12:43] laf commented on #964
I happen to like it :) But then we are switching a lot over to yaml in LibreNMS so maybe I'm a bit biased :D

[2017-08-07 12:46] telskamp commented on #964
it still is not giving me the juice Is there anything else i could have done wrong? I am trying to use oxidized  to backup our cisco devices using telnet  but it does not work  when i enable debugging this is the only thing it gives me:

`Password:
% Password:  timeout expired!
Password:
% Password:  timeout expired!
Password:
% Password:  timeout expired!
% Bad passwords        `

[2017-08-07 12:47] telskamp commented on #964
when i manually loging using telnet i am able to login using the same pasword I have in  my config file

[2017-08-07 13:21] laf commented on #964
Unfortunately I'm not sure I've got anything else to suggest. You could post the full debug file?

[2017-08-07 13:58] telskamp commented on #964
Well the full debug file does contain a lot of company specific info i would rather not put online.
I did make a little redacted file that only contains information about one of the first network devices it is trying to back-up and replaced the telnet password with "telnetpassword" I can confirm that I am able to login to this switch using telnet  and the password it is using. What I did notice is

[2017-08-07 14:01] laf commented on #964
Is that the specific devices debug / crash file?

[2017-08-07 14:16] telskamp commented on #964
I am not sure which file you are referring to, these are the debug logs it is spitting out to the docker container log file. in the oxidized/logs/10.0.0.114-telnet file it only states:

User Access Verification

Password:
% Password:  timeout expired!
Password:
% Password:  timeout expired!
Password:
% Password:  timeout expired!
% Bad passwords

[2017-08-08 08:35] telskamp commented on #964
@laf  You may close this incident, I have finally gotten green-light to reconfigure our switches to use ssh and using ssh it works like a charm! telnet sux anyway.
Thank you for your advise and support so far. If your ever in the Netherlands I would like to buy you a beer!
Keep up the good work!

[2017-08-08 08:35] #964 closed

[2017-08-09 06:52] mattie47 commented on #961
I just noticed the "Message" field in the version page.

Have done a quick google and come across #516 which I have not yet had time to investigate, but will look into hopefully later this week.

Thanks,

Matt

[2017-08-09 18:29] davama commented on #962
This is sort of what we do. But our custom file is technically our monitoring system which we update manually. We pull from there and update the sqllite db. If device is dead then we dont add to the oxidized db so oxidized doesnt waste time on dead devices.

But my OCD kicks in so how do we know that a config is still valid/decommed or not? We also have a script that checks the age of the git repo

[2017-08-09 20:54] laf commented on #961
@mattie47 As you've found, this is definitely something that's been asked and answered before :)

I'm closing this down as it's not something that needs to be fixed here. Feel free to ask similar questions on the irc channel or gitter.

[2017-08-09 20:54] #961 closed

[2017-08-09 20:58] laf commented on #962
@mattie47 I'm not really sure what you're trying to gain from these questions (don't take offence to that comment :). The way you've described the above ways to feed data into Oxidized already exist already and are documented in the readme. Do you need specific help with one of them?

[2017-08-09 21:56] mattie47 commented on #962
Hi @davama

Thanks for that insight!

Hi @laf

Essentially what I'm trying to gain is more of an understanding or examples of how others might have achieved similar tasks to what I suggested.

I've spent a lot of time in the readme file and blog posts such as:

http://packetpushers.net/install-oxidized-network-configuration-backup/

https://log.cyconet.org/2016/01/29/oxidized-silly-attempt-at-real

[2017-08-09 21:59] mattie47 commented on #961
Hi @laf

No worries with closing this.

What's useful is you've pointed out there's an IRC channel for asking more informal questions.

What are the details for IRC or gitter? Perhaps this would be useful in the readme?

Thanks,

Matt

[2017-08-10 06:47] laf commented on #962
So for MySQL based on the example config you would need a table called nodes

Within that table the following columns:
ip
model
username
password
enable

You can actually call these what you like as long as you set the mapping correctly as per the example config: https://github.com/ytti/oxidized/#source-mysql

LibreNMS is easy: http://docs.librenms.org/Extensions/Oxidized/ + the default docs for O

[2017-08-10 13:46] jh1990 opened #966 "Getting Encoding::UndefinedConversionError at /node/version/view oxidized 0.20.0"
Hi,

I'm getting the error mentioned at trying to view the configs in version view.
My nodes are stored in a mysql db and I'm using git as output.

Here is my config:

[code]

Here is the trimmed output from journalctl

[code]

Is there any mistake in my config? Can you please help me?

[2017-08-11 12:48] reavenm opened #967 "How to enable git + file"
I read somewhere that you can enable git and file since i would like to have versioning plus have the config stored in a folder. I tried multiple combinations but nothing, most of the time just the git end up working but wont store the config in the directory assign.

[2017-08-11 12:58] davama commented on #967
https://github.com/ytti/oxidized/issues/425

[2017-08-11 13:42] reavenm commented on #967
Sorry but  you lost me there. Already read that and now I am confused, is this feature been merge, pending or there is a work around like this one you posted [here](https://github.com/ytti/oxidized/issues/396#issuecomment-213124356)

Thanks for the quick reply

[2017-08-11 14:10] davama commented on #967
Well looks like it was never merged https://github.com/ytti/oxidized/issues/425#issuecomment-243183487

If it is merged one day, I personally would probably still continue with the work around since the way oxidized stores the files can be cumbersome when you have thousands of devices. Hence why i asked about https://github.com/ytti/oxidized/issues/425#issuecomment-221583484 but that's an adjustme

[2017-08-11 14:39] reavenm commented on #967
hahaha, about Ruby we both, either way I am trying to use your workaround but just getting file output git is not working
[code]

another weird thing it doesn't respect my directory path it create the group inside <administrator> but not inside repo

[2017-08-11 15:19] reavenm commented on #396
hey @davama  I am trying to use your workaround but just getting file output, git is not working.
this is my config:
[code]
another weird thing it doesn't respect my directory path, the group folder it getting created alongside of <repo>

[2017-08-11 15:20] reavenm commented on #967
followup on #396

[2017-08-11 15:20] #967 closed

[2017-08-11 15:46] davama commented on #396
installed? `/usr/bin/git` maybe

So it gets created but here i assume `/home/administrator/.config/oxidized/`

Try `    directory: "/home/administrator/.config/oxidized/repo/."`

[2017-08-11 16:23] reavenm commented on #396
I assumed it was installed because it was working when i tried to use git only, anyways i install it but still not working.
i add --global to git config user.name but no success and still create the files outside of the path i put in the config.
You didnt see anything wrong in the config I post?

[2017-08-11 17:15] davama commented on #396
Ah i think i know why. dont know if your  Groups use `/` cuz ours does. That's an accidental semi 'working' function https://github.com/ytti/oxidized/pull/654#issuecomment-271000463

At least for me to get the configs in the correct directory i had to have the config as so:
`     directory: /home/config/repository/dummydirecotry/.`
where dummydirectory is just a placeholder and it does not exist.

[2017-08-11 19:00] reavenm commented on #396
the dummy file works great to store the config in the intent folder but I cant make the git works.
I install git config user.name and email I event git init the repo folder but its like the config is not reading that part I cant even see anything in the syslog regarding git. when oxidized is ran it create the group inside repo and the config inside the group and thats it the log ends there , the h

[2017-08-11 20:07] davama commented on #396
Did you run in debug mode? See line after `log:` https://github.com/ytti/oxidized#advanced-configuration

output would look like so:
[code]

Also my Group has the hostname in it. This is how i have the db:
`W-F-R59-SW-1|<ipaddress>|ciscosmb|USA-WKL/FTTX/W-F-R59-SW-1`
Which would `cd` into the device folder name which according to oxidize is a group. In that folder you find the device flat file wit

[2017-08-11 20:34] reavenm commented on #396
both hook are on [post_store] ?

[2017-08-11 20:37] davama commented on #396
yes. there are only so many [Events](https://github.com/ytti/oxidized#events)

[2017-08-11 20:47] reavenm commented on #396
I am seeing git in the debug now, believe it or not it was an indentation error  but still
[code]

and my hooks
[code]

[2017-08-11 20:52] davama commented on #396
means you getting closer :)

my current hooks:
[code]

hope that helps

[2017-08-14 07:57] belzebud opened #968 "error when forcing config pull: no implicit conversion of nil into String"
I'm having trouble testing my first device in oxidized.  I'm using Debian and Gem (oxidized (0.20.0) oxidized-script (0.4.0) oxidized-web (0.9.2)).

I've tried different settings and worked from the tutorial on Git as well as some other I found on the web but I always get the same error: no implicit conversion of nil into String

Am I doing something wrong?

My config and log output are below.

[c

[2017-08-14 08:39] laf commented on #968
Does `/home/oxidized/.config/oxidized/router.db` exist?

[2017-08-14 11:19] belzebud commented on #968
Yes, that's the correct path to my router.db and the file exists:
`E6000-TS-2:10.125.224.114:c4cmts:user:pass:enable`

[2017-08-14 13:12] reavenm commented on #396
I am not giving up !!!
I am using / in my groups in the router.db and add the dummyfolder/. in the config and
so far directory wise everything is working great git is getting initialized and created in the correct directory all folders/groups are getting created I can browse the directory and open the .git and see the commit message and i can see the config that was backup ....
The only problem is

[2017-08-14 13:29] reavenm commented on #396
ok, in the gui if I erase the group path and leave only the hostname it works.

[2017-08-14 13:33] davama commented on #396
LOL! :D

Unfortunately you will have to give up here... :(  https://github.com/ytti/oxidized/pull/654#issuecomment-270146890

For web access to git you could use `cgit`. We use it. IF [this](https://github.com/ytti/oxidized/pull/654#issuecomment-271000463) happens one day then byebye cgit

Glad it works though! I personally dont like this hacky method but it's what we need.

[2017-08-14 13:33] davama commented on #396
no way? :O

[2017-08-14 13:52] reavenm commented on #396
damn it, haha !!

it works in the sense that you can see the page. but hey thanks a lot for the help and above all for your patience !

anyways I can work around the groups issue, is there a way to have file and git at the same time and be able to browse versions from the webgui ?

[2017-08-14 14:01] davama commented on #396
You're welcome!

example of how cgit looks https://git.kernel.org/pub/scm/  you can also see the flat files and versions

[2017-08-14 16:15] alexwbai opened #969 "Cannot find hook"
I deeply apologize if this is dumb on my part (and may be likely so as I cannot find a similar reported issue here) but I am running into an issue where oxidized cannot find the awssns hook.  The default installation hook directories and files have remained unchanged since installation.  Other than this the application is working.

... excerpt from config file
model_map:
  cisco: iosbai
  westell:

[2017-08-14 18:30] alexwbai commented on #969
Quick update.  If I comment the "require 'aws-sdk'" at the beginning of the awssns hook file I get past the above but then during debug I see it cannot initialize the AWSSNS constant
E, [2017-08-14T14:25:20.744420 #10791] ERROR -- : Hook hook_script (#<AwsSns:0x00000000f5fc58>) failed (#<NameError: uninitialized constant AwsSns::Aws>) for event :node_success

I have tried installing the aws-sdk fo

[2017-08-15 10:52] mattie47 commented on #962
Hey thanks for the help @laf

I haven't had time yet to have a look into this, but you've sufficiently answered my question.

I intend on trying to use LibreNMS to populate my database of devices to backup, which you mentioned on  https://gitter.im/oxidized is relatively easy to do by following "feeding oxidized" here: http://docs.librenms.org/Extensions/Oxidized/

Thanks for that.

Will close thi

[2017-08-15 10:52] #962 closed

[2017-08-15 13:41] alexwbai commented on #969
I'm closing this.  For some reason that I cannot explain it is working now.  I logged in this morning and do not receive the error.

[2017-08-15 13:41] #969 closed

[2017-08-15 17:15] danilopopeye commented on #968
@belzebud not sure if there isn't a problem with your config. can you unindent `gpg` and `map` keys and try again?

[code]

[2017-08-15 19:25] danilopopeye commented on #966
@jh1990 this tell us your query is returning with encoding `ASCII-8BIT` instead of `UTF-8`. Not sure if is something in your database or in Oxidized. 🤔

[2017-08-15 19:36] danilopopeye commented on #945
@michael-todorovic can you post the output generated in this case?

[2017-08-16 07:55] jh1990 commented on #966
@danilopopeye
for DB:
DEFAULT_CHARACTER_SET_NAME: utf8
DEFAULT_COLLATION_NAME: utf8_general_ci

table:
TABLE_COLLATION: utf8_general_ci

all columns in table: utf8

[2017-08-16 14:02] danilopopeye commented on #966
@jh1990 can you post a sample of your records? do you have any accentuated characters, like `áãé`, etc?

[2017-08-16 14:08] jh1990 commented on #966
Do you mean a sample of my db content or sample of saved configs by oxidized?
Am 16. Aug. 2017, um 16:02, Danilo Sousa <notifications@github.com> schrieb:
@jh1990 can you post a sample of your records? do you have any accentuated characters, like áãé, etc?

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-08-16 14:16] LemonLight opened #972 "Reload button does not work on Firefox ?"
Hi,

I recently noticed that the reload button doesn't work on Firefox but works perfectly on Chrome, Edge and IE.

Is it the same for you ?

Regards.

[2017-08-16 14:19] belzebud commented on #968
It looks like we are making some progress.  After removing the gpg and map indents I have a new error: `create': cannot interpret as DNS name: nil (ArgumentError).  The CLI output, log file, and crash file output are below:

**oxidized -d**

'cannot interpret as DNS name: nil
/usr/lib/ruby/2.3.0/resolv.rb:1226:in `create': cannot interpret as DNS name: nil (ArgumentError)
        from /usr/lib/rub

[2017-08-16 14:42] danilopopeye commented on #968
@belzebud looks like you have some empty devices in your `router.db`. Can you post it, please?

[code]

[2017-08-16 14:44] danilopopeye commented on #972
@LemonLight can you please open this issue in [oxidized-web](https://github.com/ytti/oxidized-web) repository ?

[2017-08-16 14:44] #972 closed

[2017-08-16 14:45] danilopopeye commented on #966
of your devices in your database. sorry for the confusion @jh1990

[2017-08-16 15:32] reavenm opened #973 "Edit the config to proxy ssh ?"
It would be possible to proxy the ssh/telnet but in the sense of editing the config to ssh a router through another router or even telnet ?

[2017-08-16 16:44] danilopopeye commented on #973
have you looked at the [ssh-proxy-command](https://github.com/ytti/oxidized#ssh-proxy-command) config?

[2017-08-16 17:23] reavenm commented on #973
I saw that and I know normally you use a linux host for this but is possible to use a Cisco router to connect to another cisco router through oxidized ?

[2017-08-16 17:52] danilopopeye commented on #973
not that I'm aware of, sorry.

[2017-08-17 09:52] belzebud commented on #968
Thanks for looking at my output.  My router.db is unchanged since the original post as I didn't believe it was the problem.

I only have one device listed in my router.db file so far since I'm still testing oxidized with the CMTS:

cat /home/oxidized/.config/oxidized/router.db
`E6000-TS-2:10.125.224.114:c4cmts:user:pass:enable`

I thought the mapping in my config may be incorrect since I'm using n

[2017-08-17 11:37] jh1990 commented on #966
@danilopopeye

The first 10 lines of the table - passwords trimmed:

MariaDB [oxidized]> select * from devices limit 10 \G
*************************** 1. row ***************************
       name: 10.0.60.2
         IP: 10.0.60.2
   SSH_Port: 22
Device Type: fortios
   Username: admin
   Password: xxxxxxx
     enable:
*************************** 2. row ***************************
       name: 10

[2017-08-17 15:12] spial opened #975 "oxidized crash when I change config from file to git"
Hello there,

I am not from linux or programming field. I have recently installed oxidized and it was running flawless. But today I have changed the output from file to git and now I am getting the error. I would be happy if somebody can help me what could the issue:

the error I have seen after running the oxidized
Use Ctrl-C to stop

[code]
and  I have seen debug log:

    [user.err] oxidized[27

[2017-08-17 20:20] danilopopeye commented on #968
hum, my bad your config it was ok. 😞

ok, so it looks like the `oxidized-web` can't find the output file for the node you selected. from the log you posted in the begining the worker haven't finished yet.

If you let it finish and after try to show the config from the interface, it throws the same error? The backup finishes at some point, right?

[2017-08-17 20:30] danilopopeye commented on #966
@jh1990 could you edit the file `/var/lib/gems/2.1.0/gems/oxidized-web-0.9.2/lib/oxidized/web/webapp.rb` and insert before the line `178` the following code and post the log output, please?

[code]

[2017-08-17 20:33] danilopopeye commented on #975
@spial can you post the crash file `/home/oxidized/.config/oxidized/crash` ?

[2017-08-17 21:38] danilopopeye commented on #940
@mrplow87 could you open a PR to document this behaviour?

[2017-08-17 21:41] danilopopeye commented on #760
@laf + @davama we can close this one, right?

[2017-08-17 21:42] danilopopeye commented on #651
@arturs0 have you managed to make the group config work?

[2017-08-18 06:47] laf commented on #760
@danilopopeye I don't see why not, I think it would be better to have it enabled as network services seems a key requirement to oxidized to start.

If others agree I'll open a PR.

[2017-08-18 11:07] spial commented on #975
Thanks Danilo to notice  the configuration mistake and it works like a charm.
I really appreciate your help.

[2017-08-18 11:07] #975 closed

[2017-08-18 14:03] belzebud commented on #968
I set the indents back to their original configuration and let oxidized for about 15 minutes but it never pulls the config and the directory stays empty.

[2017-08-18 14:10] danilopopeye commented on #760
fine by me 😃 closing this one

[2017-08-18 14:10] #760 closed

[2017-08-18 14:11] danilopopeye commented on #975
@spial glad to help 😉

[2017-08-18 14:14] danilopopeye commented on #968
can you enable the input debug and tail the log file? see if oxidized is sending something, or maybe the prompt is wrong.

[2017-08-18 17:51] kiq-moraes commented on #651
Hi,
Here follows the entire configuration file. Sorry for the delay.
The commented lines are because they did not work...
Again, thank you very much, guys.

---
username: usuario
password: abobrinha
model:
interval: 3600
use_syslog: true
log: /home/oxidized/.config/oxidized/logs/
debug: true
threads: 30
timeout: 20
retries: 2
prompt: !ruby/regexp /^([\w.@-]+[#>]\s?)$/
rest: ip:port
next_adds_job:

[2017-08-18 18:28] reavenm commented on #973
btw, exactly how the proxy variable works ?

[2017-08-18 18:29] reavenm commented on #973
i am able to proxy ssh directly from the oxidized server , but how is this configure in oxidized

[2017-08-18 19:50] danilopopeye commented on #973
assuming you have mapped the variables as described in the [docs I mentioned](https://github.com/ytti/oxidized/issues/973#issuecomment-322831306), then you should pass the host to be used as proxy in that field. it will look something like this in your router.db:

    name:model:enable:host.to.proxy

you can have a look in the actual code here: [input/ssh.rb](https://github.com/ytti/oxidized/blob/

[2017-08-18 20:37] laf commented on #651
You look to have a few issues with the config, I've tried to tidy it up (I've not included all your models and groups, you can re-populate those:

[code]

[2017-08-19 14:10] kiq-moraes opened #977 "Help - login with web authentication (nginx)"
Hello guys,
I 'm using CENTS 7 running oxidized and I' d like some kind of web authentication, to avoid undue hits.
I tried the following commands below , but the pop window does not appear to enter user and password.
Could someone suggest me something or exemplify how can I do this?

I already created the username and password with:

    sudo htpasswd -c /etc/nginx/.htpasswd nginx

in nginx.conf:

[2017-08-19 15:20] danilopopeye commented on #651
@arturs0 can you try the config @laf posted and see if your problem still persists?

[2017-08-19 15:24] danilopopeye commented on #977
@kiq-moraes could you try this guide: [how-to-set-up-basic-http-authentication-with-nginx-on-centos-7](https://www.digitalocean.com/community/tutorials/how-to-set-up-basic-http-authentication-with-nginx-on-centos-7)

[2017-08-21 03:35] mattie47 opened #978 "Help with getting "nodiff" working for output"
Hi,

Firstly thanks to those who have helped me with various issues thus far...

I've been trying to get my head around https://github.com/ytti/oxidized#output-types

This implies you can have devices polled and have some commands such as "show version" or "show system" stored in a "nodiff" repository, meanwhile commands such as "show run" are stored in a different repo which diffs can be achieved

[2017-08-21 05:09] mattie47 commented on #978
Okay so I do actually see the show version when I do a git clone of the primary repo:

-rw-r--r-- 1 oxidized oxidized  4355 Aug 21 16:06 d1-x550--show_running-config
-rw-r--r-- 1 oxidized oxidized 12806 Aug 21 16:06 d1-x550--show_version

Does oxidized web have functionality around the nodiffs output, or is it expected you manage all of this in an external git server, or perhaps use something like

[2017-08-21 05:14] mattie47 commented on #978
The only reference I've found of someone else using nodiff is https://github.com/ytti/oxidized/issues/201

If there are any other examples (beyond the README) I'm happy to look further.

Thanks,

Matt

[2017-08-21 06:36] jh1990 commented on #966
@danilopopeye
here is the output with the code added to webapp.rb

"94.16.1.8"
{:node=>"94.16.1.8", :group=>"", :oid=>"9f7280874aea3d268282ad6f15a690808fa0a92a", :date=>"2017-08-16 18:29:31  0200", :num=>"3"}
2017-08-21 08:35:12 - ArgumentError - wrong number of arguments (1 for 3):
        /var/lib/gems/2.1.0/gems/oxidized-0.20.0/lib/oxidized/nodes.rb:101:in `get_version'
        /var/lib/gems/2.

[2017-08-21 14:01] belzebud commented on #968
OK so again I've made a little bit of progress.  After looking at the error messages some more it seemed that I needed to specify a group.  Once I did that I stopped getting the error page when forcing a config download, now I just get a blank page, which is the least of my worries right now.

The good thing is I now see that telnet is being attempted, but unfortunately it never succeeds.  I turne

[2017-08-21 14:29] kiq-moraes commented on #977
Hi guys,
I fixed the lines that were wrong and now it's working!
Thank you all.

 server {
        listen ip:port;
        server_name _;
        root         /usr/share/nginx/html;
        // Load configuration files for the default server block.
        include /etc/nginx/default.d/*.conf;
        location / {
        auth_basic "Acesso Restrito";
        auth_basic_user_file /etc/nginx/.htpassw

[2017-08-21 14:29] #977 closed

[2017-08-21 20:36] danilopopeye commented on #978
don't remember ever seeing anything related to output types in oxidized web. actually, never used myself. 😛

@mattie47 do you see a error or anything at all when searching for this device in oxidized web?

[2017-08-21 20:40] danilopopeye commented on #966
sorry, the last line should actually be:

[code]
ooops, my bad. 😞

[2017-08-21 20:44] danilopopeye commented on #968
@belzebud I'm guessing that there's a problem with your prompt. can you post the prompt you see when logging directly to the device?

I see you're overriding the model prompt in the `config` file. have you tried removing this line and using the one defined in the model?

[2017-08-21 21:07] danilopopeye commented on #178
@jthunt can you have a look in the PR #971 and see if it solves your problem?

[2017-08-21 21:35] mattie47 commented on #978
Hi @danilopopeye

No errors. I don't recall seeing anything unusual in the logs either.

![1](https://user-images.githubusercontent.com/4696925/29538896-d28e20f2-871b-11e7-966a-70042dde3575.PNG)
![2](https://user-images.githubusercontent.com/4696925/29538897-d29035a4-871b-11e7-87a6-9e048ef86a50.PNG)

Thanks,

Matt

[2017-08-22 05:55] winglessza opened #981 "Oxidized and FIB's ( FREEBSD )"
Hi,

Been using oxidized for around 6 months now great piece of software. Ive been using rancid for a couple of years , with some heavy customization to cater for multiple rdomains (openBSD) and FIB's ( FreeBSD ).

Is there an easy way to execute custom ssh or telnet commands via config and var maps to FIBS through mysql innate to the current code, rather than having to rewrite some of the code my

[2017-08-22 06:42] jh1990 commented on #966
@danilopopeye
do you also need the firewall config shown in the output or can i trunkcate it?

[2017-08-22 08:59] candlerb opened #983 "Intermittent CLI data corruption (powerconnect.rb)"
Occasionally I see a pair of commits where clearly the CLI communication was mangled for one operation, and then was reverted for the next one.

The first three examples are Dell PowerEdge 5524

Example 1:

[code]

then on the next commit it's reversed:

[code]

Example 2:

[code]

Example 3:

[code]

Example 4: this is a Dell N1548

[code]

My guess is there's some sort of race going on.  I didn'

[2017-08-22 09:04] candlerb commented on #983
And another one which just happened:

[code]

[2017-08-22 10:00] laf commented on #981
If I understand what you want correctly then you would need to run a custom model that will run these commands.

[2017-08-22 10:01] laf commented on #966
@jh1990 Think he just needs the debug output rather than the firewall config

[2017-08-22 10:32] winglessza commented on #981
Do you perhaps have any direction here on the context that would be used to execute this type customization within a model file?

[2017-08-22 11:52] laf commented on #981
Do you have a base model you're working from?

[2017-08-22 12:15] winglessza commented on #981
class JunOS < Oxidized::Model

[2017-08-22 12:32] laf commented on #981
https://github.com/ytti/oxidized/blob/master/lib/oxidized/model/junos.rb#L39

Possibly duplicate those lines and change the commands being sent? Bear in mind I'm not a ruby dev.

[2017-08-22 13:32] seekerOK opened #984 "store multiple versions."
It is possible to store multiple version in file output ? Like keep the last x backups.

[2017-08-22 13:38] laf commented on #984
Nope:

#903
#425

[2017-08-22 13:57] seekerOK commented on #984
I dont think is the same, I am **NOT** talking about using git + file.
I mean only use file as output but instead of the backup replace the flat file just keep x number of backup, like the last two flat files backup.

[2017-08-22 14:15] laf commented on #984
You need to use git for that, flat files don't understand or support versioning.

[2017-08-22 15:50] seekerOK commented on #984
Don't get fixated in the term "versions/versioning", I know thats what git is for and I know flat files done understand/support "versioning"
I just want to keep the last 2,3,etc..  flat files instead of replacing the same. if that cant be done or added, well ok.

[2017-08-22 16:15] laf commented on #984
It isn't supported at present no.

Personally and this isn't the projects stance, I don't see why that would be added when git provides that. Regardless of the word 'versioning'

[2017-08-22 17:52] seekerOK opened #985 "Is the aruba mobility controller supported ?"
Is the Aruba Mobility Controller supoported ?
**Model: | Aruba3400-US
Version: | 6.4.4.9**

I am getting a "... _raised Oxidized::ModelNotFound with message 'AOSW not found for node x.x.x.x_ '

[2017-08-22 18:03] seekerOK commented on #985
didnt know models is case sensitive in router.db, **AOSW != aosw**

[2017-08-22 18:10] danilopopeye commented on #450
closing as is to old

[2017-08-22 18:25] danilopopeye commented on #236
as per [#637 comment](https://github.com/ytti/oxidized/pull/637#issuecomment-266370781) changing the `prompt` should fix this.

[2017-08-22 18:27] danilopopeye commented on #567
after a major refactoring and a proper test suite, this __should__ be used. closing until that time 😉

[2017-08-22 18:27] #567 closed

[2017-08-22 18:36] seekerOK commented on #985
It does the backup but raised an error: **raised Timeout::Error with msg "timed out while waiting for more data"**
this is the log for the device:

[code]

[2017-08-22 18:52] sls89 opened #986 "slackdiff error occurs at oxidized startup"
Everytime I start oxidized, an error occurs:

    Hook slack (#<SlackDiff:0x000000024531f0>) failed (#<TypeError: no implicit conversion of Symbol into Integer>) for event :stuck_out_tongue:ost_store

That's my config snippet:

[code]

BOT is online and in the channel.

[2017-08-22 18:57] danilopopeye commented on #986
@sls89 did you installed the `slack` gem ?

[2017-08-22 19:19] seekerOK commented on #985
the above device log is when it capture the backup through ssh, the error apparently raised when it tries to exit the telnet session device telnet log below

[code]

[2017-08-22 19:26] seekerOK commented on #985
get rid of the error by changing the _input order_ from **telnet, ssh -> ssh, telnet**

but the telnet session seems to be missing an additional **exit**

[2017-08-22 19:47] danilopopeye commented on #986
after investigating this issue on Gitter, we think the problem is using the hook with a `file` output.

@sls89 can you try with `git` output ?

[2017-08-22 19:49] laf commented on #985
Would you be able to submit the fixes on a PR?

[2017-08-22 20:25] seekerOK commented on #985
I would not know where to fix this.
I assume it would be in the aosw.rb, around here, but not sure:
[code]
And I didn't fix it I  just avoid the error by connecting via ssh first.

[2017-08-23 07:44] mrplow87 opened #988 "Issuing /node/next/... removes node"
I've come across that issuing `PUT /node/next/$nodename` through the RESTful API sometimes removes the node from the configuration of Oxidized and the API call returns "node not found".
When issuing `GET /node/reload`, the node gets re-added and further `/node/next/...` requests work without a hitch. Version history is kept intact after re-adding the node.

This was observed with Brocade (XMR, ICX

[2017-08-23 14:08] belzebud commented on #968
I've been messing with this some more, I ended up trying to make it much simpler by creating an "oxidized" user on each system with a privilege level of 1 but allowing the specific commands that the system will be running.

I had been using telnet but I switched to SSH then I noticed that I see full output for 2 systems and a few errors for 1 system when I click the download configuration action b

[2017-08-23 14:31] mrplow87 commented on #940
PR created, discussion started :)

[2017-08-23 19:32] sls89 commented on #986
I updated my config file, but nothing happens:

Puma starting in single mode...
* Version 3.9.1 (ruby 2.3.1-p112), codename: Private Caller
* Min threads: 0, max threads: 16
* Environment: development
* Listening on tcp://127.0.0.1:8888
Use Ctrl-C to stop

  push_to_remote:
    type: githubrepo
    events: [post_store]
    remote_repo: https://user@git.mydomain.com/user/oxidized.git
    username:

[2017-08-24 08:39] laf commented on #968
You're running file output so you won't see versioning. You need to switch to git to get that.

[2017-08-24 10:27] sts opened #990 "Parse name from comment"
Some devices show the name of the user who committed a configuration version in the `sh run` output. It would be great if the username would get parsed by oxidized and made be available in hooks. This could be used to mention users in git commits messages, webhooks etc.

Is this a feature which would make it into upstream?

[2017-08-24 12:34] seekerOK opened #991 "Hide enable secret form the node show screen"
Is possible to hide the enable secret from the node show screen, the one that appears when you click the node name I think is reads from the router.db beside displaying start/end time and status.

[2017-08-24 13:14] belzebud commented on #968
I was planning on enabling Git after I got everything to work correctly but I was assuming Oxidized would create text files with versions without Git enabled.  I just enabled Git so now I can see versions.

So, I think the SSH issue has to do with public key types.  Yesterday I added legacy options for OpenSSH and was still having trouble and just now I found this post which I think would have hel

[2017-08-24 13:19] lvaudois opened #992 "Cisco WS 6500 don't write entire config"
Hi,

Trying to backup the configuration of a Cisco WS 6500, it lists not the entire config.

It only write the first line of sh version command and the sh inventory section but not pastes the sh running-config.

I updated the ios.rb from the github repo but don't solved the issue.

Here is the API comment

{:name=>"vss",
 :full_name=>"vss",
 :ip=>"X.X.X.X",
 :group=>nil,
 :model=>"IOS",
 :last=>

[2017-08-24 14:29] lvaudois commented on #992
Hi,

Please close this issue, it was a simple password issue.

[2017-08-24 14:29] #992 closed

[2017-08-24 15:10] JulienNoazette commented on #992
check your log ;)
May be your password isn't correct.

[2017-08-24 15:30] seekerOK commented on #991
like limiting the output of **%pre** in
https://github.com/ytti/oxidized-web/blob/master/lib/oxidized/web/views/node.haml

[2017-08-24 18:43] sls89 commented on #986
@danilopopeye I figured out pushing to remote gitlab repo works with ssh and key-auth. slackdiff issue isn't solved yet, maybe I'll try to modify my slackdiff.rb in order to use slack webhooks.

[2017-08-24 20:57] FragmentedPacket opened #994 "Source: HTTP with LibreNMS is erroring out"
I'm getting the following error whenever I try and run oxidized on my VM:

Here is my sanitized configuration:

I think it's failing further down up the stack than my configuration, but that is just a guess.

Here is the API call to get the device (I have other ones that I figured out and mapped them from a different issue thread on here)

[2017-08-24 21:03] laf commented on #994
This seems to suggest that your config file is badly formatted.

[2017-08-24 21:05] laf commented on #991
I think this should be posted in oxidized-web and is possibly a duplicate of oxidized-web/issues#24

[2017-08-24 21:09] FragmentedPacket commented on #994
You're correct.

That is low hanging fruit. Sorry for wasting your time.

[2017-08-24 21:09] #994 closed

[2017-08-25 06:09] rbeumer commented on #984
I agree about Git being the best solution for this. You could probably hack something together with logrotate, though it would be very ugly and would require way more effort than using a Git repo.

[2017-08-28 15:03] seekerOK commented on #991
definitely a duplicate, thanks

[2017-08-28 15:03] #991 closed

[2017-08-28 15:11] seekerOK opened #997 "SGOS support"
Any plans on supporting SGOS for like Blue Coat ProxySG or is there any particular model module that I can use as template to add it myself ?
*login, show configuration  routine

_ssh user@ip_
**user@ip's password**:
**Blue Coat ProxySG>** ena
**Enable Password:**
**Blue Coat ProxySG#** show configuration expanded noprompts

[2017-08-28 19:16] laf commented on #997
That looks fairly standard for most models, IOS supports enable so you could use that and strip out the stuff not applicable

[2017-08-28 20:08] seekerOK commented on #997
getting hit with this error, i bet its a simplke thing
 **raised Oxidized::PromptUndetect with msg "#015#01210.10.10.1 - Blue Coat SG-VA Series> not matching configured prompt (?-mix:^([\w.@-]+[#>]\s?)$)"**

this is my test sgos.rb
[code]

[2017-08-28 21:03] CarbonJeepers opened #998 "Undefined method 'dig'"
When I run `oxidized -d` (version 0.20) on CentOS 7 I get the following:

[code]
I've made sure I've met dependencies to the best of my abilities but I can't rule out a snafu on my part. Bug? User error? I'm not sure.

[2017-08-29 13:51] papatango71 commented on #922
This issue has been resolved.  The issue is related to Cisco's IOS-XR 5.1.3 version of firmware

[2017-08-29 13:51] #922 closed

[2017-08-29 13:55] seekerOK commented on #997
Successfully grab config 👍
the only thing I'm missing is working with commands output that have --more--
and with the block to hide passwords/secret/enable

[code]

[2017-08-29 13:57] seekerOK commented on #997
Successfully grab config 👍
the only thing I'm missing is working with commands output that have **--more--**
and with the block to hide passwords/secret/enable

[code]

[2017-08-29 14:30] seekerOK commented on #997
enable/secret hiding completed.
Only thing left is working with commands output that have **--more--**

[2017-08-29 15:57] seekerOK commented on #997
somehow i deal with it

sgos.rb
[code]

but the **show licenses** output like this:
[code]
*what with the missing characters ?

[2017-08-29 16:15] tyler-8 opened #1000 "AOSW Model not pulling entire configuration of Instant Controller"
I'm using the `https://github.com/ytti/oxidized/blob/master/lib/oxidized/model/aosw.rb` model and it doesn't appear to be grabbing the entire config. Looking through the diffs, it appears that it grabs varying levels of the configuration each time. Some times it'll make it further into the config than other times. I've verified there's no paging issue (`show running-config` just dumps the entire c

[2017-08-29 18:09] laf commented on #1000
You should enable debugging and post the output of the devices debug file.

[2017-08-29 18:12] laf commented on #997
Can you not disable pager in the session for this device:

https://github.com/ytti/oxidized/blob/master/lib/oxidized/model/asa.rb#L54

[2017-08-29 18:41] seekerOK commented on #997
getting the same results:

[code]

[2017-08-29 18:48] laf commented on #997
Looks like it's not applied the disable pager, what's the code you used and is that command valid on this device?

[2017-08-29 18:58] seekerOK commented on #997
sgos.rb

[code]
which command, **show licenses** ?
yes is valid thats the output of of it its like its something with the **_expecting  --More-_**-

[2017-08-29 19:40] tyler-8 commented on #1000
@laf Appreciate the reply. I turned on debug and the entire config was pulled via SSH and the session closed with an `exit` successfully. So it would seem that the config is not making it into the local git repo? If I download the config trough Oxidized it's incomplete however.

[2017-08-29 19:54] laf commented on #1000
Can you post it? Just trim the config so no sensitive info is in.

[2017-08-29 19:55] laf commented on #997
`terminal pager 0`

Is that valid? In IOS that would disable the more prompt.

[2017-08-29 20:25] tyler-8 commented on #1000
I can't I'm afraid (it's a dev environment and I can only access it through a funky web client with no copy/paste ability right now).

I have manually combed the debug output and aside from some parse errors for non-existent commands I don't see any errors. Attachment of the parse errors.
![aoswoutput](https://user-images.githubusercontent.com/17618971/29842187-17e8334e-8cd6-11e7-9fb1-23dfd78141ea

[2017-08-29 20:44] seekerOK commented on #997
oh my bad. well I have been searching but i cant found anything to disable the prompts the only command that have that is the **show configuration expanded noprompts**

[2017-08-29 21:22] gbeekmans opened #1001 "extra/oxidized-report-git-commits doesn't appear to be working anymore"
A recent (ish) update to this script moved away from a temporary staging directory to using the bare repository directly but I can't seem to get it to work. "git diff" doesn't want  to operate on a bare repository. I've tried versions 2.7.4 and 2.14.1 (latest version as of this writing).

With both versions the error message I get is:

fatal: ambiguous argument '8e8e23844427b4903d539fb5e1ed19e4670

[2017-08-30 09:40] asenci commented on #1001
Hi @gbeekmans, was able to reproduce the issue running the script against a new repo.

When OX_REPO_COMMITREF points to the initial commit, git obviously can't find the previous commit (OX_REPO_COMMITREF~1).

Working on a patch using "git show" instead of "git diff" now.

[2017-08-30 14:32] seekerOK commented on #997
well i cant find a way to deal with the **--More--** , but i can live with the output as is only informative anyways

[code]

I can pr the _**sgos.rb**_ if you want.

[2017-08-30 15:05] tslytsly opened #1003 "Adding support for Unifi Switches"
Hi,

I'm trying to add support for Ubiquiti Unifi Switches.

Essentially they run EdgeSwitch, but the access to the CLI is not the same, Unifi is designed around a Web Controller and CLI access is for debug only.

You need to SSH to the unit and then telnet to localhost, this drops you into the EdgeSwitch CLI.

I have taken the existing EdgeSwitch model config and added the telnet command. (see be

[2017-08-30 15:23] seekerOK commented on #1003
debug ?

[2017-08-30 15:39] tslytsly commented on #1003
Sorry, debug (real hostname and ip removed):

[code]

[2017-08-30 15:59] tslytsly commented on #1003
here is a manual example of what the script needs to do:

[code]

[2017-08-30 21:07] gbeekmans commented on #1001
This change works for me as well. Thanks for the update.

[2017-08-30 22:34] gbeekmans opened #1005 "next_adds_job configuration option when using one node seems to cause a loop"
During testing of making configuration file changes, I was running Oxidized with one entry in the router.db file and next_adds_job was set to true.

This combination of one node and next_adds_job seems to cause a loop. When Oxidized starts, it checks the single node and all is well. When you select "update" from the actions column in the web interface, this happens (only visible when debug is also

[2017-08-31 19:14] seekerOK opened #1008 "Help with hooks to local gitlab"
I installed Gitlab and create a user and set up  a project which is where the hook is going to push to, right ?
I add my hooks

[code]
Iam getting a  lot of authentication errors

log

[code]
I also try to push directly from commandline but i cant login

[2017-08-31 19:25] asteen-nexcess opened #1009 "Dell Powerconnect 3448/3548 Not Removing Temperature"
Hi all,

Running into an issue where our Dell Powerconnect 3448 and 3548 switches are not removing the temperature block from the configs resulting in new changes every time it runs. Below is the output of one of the switches:

!
SW version    2.0.0.34 ( date  25-Jul-2010 time  14:24:24 )
! Boot version    1.0.1.01 ( date  15-Jun-2006 time  11:42:56 )
! System Description:                       Et

[2017-08-31 20:03] laf commented on #998
This, I think, is because the http url you've provided isn't returning data correctly.

[2017-08-31 20:05] laf commented on #1008
That and the error do say you have an invalid user, this doesn't seem to be an oxidized issue.

[2017-09-01 12:27] seekerOK commented on #1008
i just though you guys have seen this before, apparently it have something to do with ssh and the fact that oxidized and gitlab run in the same server but give up.

[2017-09-01 12:27] #1008 closed

[2017-09-01 12:55] laf commented on #1008
I've never ran them both on the same server before but it's just an ssh connection so I wouldn't have thought it mattered where they were.

[2017-09-01 13:18] laf commented on #1000
Is that not the device telling you those commands aren't running?

[2017-09-01 13:19] laf commented on #997
You should do yes :)

[2017-09-01 13:34] laf commented on #1009
It looks for (U|u)nits in the output of `show version` (can you pastebin that). That then determines if it's a stackable device and excludes the Temp info.

[2017-09-01 14:19] seekerOK commented on #1008
thats what i though but no matter what i do i cant authenticate to gitlab from the cli, but everything works fine through the webgui

[2017-09-01 14:47] tyler-8 commented on #1000
@laf The commands that return the Parse error are expected based on the AOSW model - it's just attempting them without failing the whole workflow, but the `show running-config` does return correct output as shown in the screenshot.

[2017-09-01 16:03] laf commented on #1000
Ok but this isn't showing the oxidized part to see what's going on. Can you not run a cli pastebin client to upload the text?

[2017-09-01 16:03] laf commented on #1008
You using ssh keys?

[2017-09-01 17:42] seekerOK commented on #1008
yes but the error didnt change at all

[2017-09-01 17:45] laf commented on #1008
If it's not authing with keys when you do it via the cli then something is definitely up with the setup. Have you tested with another repo of just doing a basic git push origin master using the user oxidized is running as just to see?

[2017-09-01 18:49] seekerOK commented on #1008
I try from the cli directly to push something and it ask me for password but i cant pass that step

[2017-09-01 19:02] seekerOK commented on #1008
no, I havent tried that.

[2017-09-01 19:46] laf commented on #1008
If you are using keys then you must have the key set for the user doing the push so for Oxidized, it needs to be the user you start it with.

[2017-09-02 06:20] asteen-nexcess commented on #1009
Hi Laf,

[https://pastebin.com/sBZMgVz6](url)

This output looks the same on every Dell 34xx/35xx/54xx switch we have (sans version numbers of course). I don't actually see stack units in `show version` until the Dell 55xx series. Linked a copy of a 5548 `show version` below.

[https://pastebin.com/9ZSn4JUT](url)

Thanks!

[2017-09-02 09:58] zombah commented on #997
Some devices like to add hidden symbols, like trailing white spaces or /r, into cli output.

[2017-09-03 12:57] laf commented on #1009
Ok I'm not sure what to suggest here other than dropping the check for stacking modules.

This is a quick change, you can test it if you like: https://gist.github.com/laf/f7f7b4ceb0bb2008c41e5a01fe568a01

[2017-09-04 10:20] Chris-B-Chicken opened #1012 "Cisco AireOS WLC 2504 not Working"
Hello,
the AireOS for a Cisco WLC 2504 Version 8.3.102 is not working properly. It won't connect to the Controller. Normal SSH out of the Docker-Host work.

root@docsuk:/etc/oxidized# ssh 192.168.0.51

(Cisco Controller)
User: oxidized
Password:************
(Cisco Controller) >

Oxidized Bash looks like this:
I, [2017-09-04T09:54:48.189964 #1]  INFO -- : Configuration updated for AZB/skcsw-azb09
W

[2017-09-04 12:42] laf commented on #1012
Is `(Cisco Controller)` the prompt? If so that doesn't match: `^\([^\)]+\)\s>` so it would need updating.

[2017-09-04 13:29] tslytsly commented on #1003
bump...

[2017-09-04 13:38] laf commented on #1003
Bad prompt detection, matching to early maybe?

[2017-09-04 14:48] Chris-B-Chicken commented on #1012
When i connect to the controller via ssh first entry is
(Cisco Controller)
User: _
So than i can enter a username. The configuration prompt is:
(Cisco Controller) > show run-config (for example)
Where are the *.rb files located in a docker-environment?

[2017-09-04 14:49] tslytsly commented on #1003
is there any way to delay the logout?

[2017-09-04 15:06] tslytsly commented on #1003
is there any way to match a second prompt?

What I mean is this, the prompt regex is fairly general, because the initial SSH prompt is `US.v3.8.3#` (although the numbers will change with the software version).
When you telnet into the edgeswitch os it changes to `(UBNT) >` followed by `(UBNT) #` on enable.

Ideally I could do with saying that the prompt will be x and then y.

[2017-09-04 18:23] laf commented on #1003
I'm not aware of a way to do two prompts. You'd probably have to come up with a way to do it in one.

[2017-09-04 18:25] laf commented on #1012
So that should match fine but the debug output shows it's not matching so I would try dropping the > from prompt detection maybe to test?

[2017-09-05 10:30] loopodoopo opened #1013 "Error starting Oxidized"
Since a couple of days, my Oxidized installation started failing. When I try to start the Oxidized service I get the following error:

[code]

I have automatic OS updates enabled. Running Centos 7

[2017-09-05 10:38] laf commented on #1013
I've seen this recently, for me it was that I was using the wrong API key for LibreNMS integration, fixing that got it working so I'd say it's because the response from the http call isn't valid json maybe - have you tested it manually?

[2017-09-05 10:44] loopodoopo commented on #1013
Thank you for the quick response! LibreNMS API key was the issue!

Would be nice to have some better error handling here.

[2017-09-05 14:42] tyler-8 commented on #1000
I'm using the debug config outlined here: https://github.com/ytti/oxidized#debugging and all of the files it generates only contain the SSH outputs from the devices, even the devices that are working correctly in oxidized. The last line I see on the debug file for example is `test_rtr#exit`. Is there another way to enable debugging for Oxidized's processing?

[2017-09-05 17:04] Wax-Trax opened #1014 "WebUI previous versions local git timeout"
I set up Oxidized to use a local git repository for configuration storage and versioning. I've been running Oxidized for a couple of months now, and I used to be able to pull up previous versions with the web interface, but now when I try, nginx times out. Pulling up the current version is practically instant.

When I log into the box and do a "git log" it shows that files are being updated.

My l

[2017-09-05 17:55] asteen-nexcess commented on #1009
Hi Laf,

Awesome, that worked perfect. I ended up making a new model for this though since it was making the Dell 55xx and Dell N15xx series configs a bit weird.

Thanks!

[2017-09-05 17:55] #1009 closed

[2017-09-05 21:04] laf commented on #1000
No I think that's it but not 100% sure.

Sorry I'm out of ideas :(

[2017-09-05 21:05] sls89 commented on #986
I solved the problem by creating a new bot and token. Bot setup is nearly identical.

[2017-09-05 21:05] #986 closed

[2017-09-06 02:17] mattie47 commented on #990
This would be pretty cool...

Perhaps https://github.com/ytti/oxidized/issues/714 would be a starting point on this?

[2017-09-06 09:29] Chris-B-Chicken commented on #1012
Ye i wanna test it, but i cant rewrite the aireos.rb because i cant find it in my docker container. i dont know where it is located. Do you got any suggestions?

[2017-09-06 17:52] tyler-8 commented on #1000
@laf I appreciate you trying nonetheless - I'm not a Ruby guy otherwise I'd be approaching this differently. I'll continue to tinker as I have time until I or someone else figures it out.

[2017-09-06 17:59] chipgwyn commented on #1000
Curious, are you running Centos7?

[2017-09-06 18:01] InsaneSplash commented on #887
I have about 2000 devices at the moment and I find the same thing happen but after a much shorter time. I find that I need to restart the service regularly to keep it operational.....

[2017-09-06 18:40] laf commented on #1012
You can place custom models in "~/config/oxidized/model/" for them to be picked up for testing, same filenames as the core models will override those so just pop it in that dir.

[2017-09-06 21:54] mattie47 opened #1016 "Issues with Telnet"
Hi all,

I've been trying to add support for Allied Telesis switches and routers under https://github.com/ytti/oxidized/pull/936, but have had a couple issues that I can't seem to get past.

Specifically, I've been trying to add support for Telnet, and also Enable passwords. For me this hadn't been a problem as I've been successfully using Oxidized for a couple months now with SSH and Privilege 15

[2017-09-06 22:08] mattie47 opened #1017 "Issues with Enable Password"
Hi all,

I've been trying to add support for Allied Telesis switches and routers under #936, but have had a couple issues that I can't seem to get past.

Specifically, I've been trying to add support for Telnet, and also Enable passwords. For me this hadn't been a problem as I've been successfully using Oxidized for a couple months now with SSH and Privilege 15 users. However, I thought for the PR

[2017-09-06 22:09] tyler-8 commented on #1000
@chipgwyn Yes, running CentOS7. It's definitely not an SSH issue because the debug output shows the entire contents of the configuration. It's only when Oxidized is taking that data and parsing it somehow that it's getting cut short. I've looked through the config to see if there were some sort of special characters and there isn't anything of concern there.

[2017-09-06 22:12] mattie47 commented on #978
Closing as this is likely an enhancement request for https://github.com/ytti/oxidized-web/

[2017-09-06 22:12] #978 closed

[2017-09-06 22:36] chipgwyn commented on #1000
I tried pairing down all the stuff in aosw.rb to only the "show running-config" command, issue still exists.

[2017-09-06 23:13] mattie47 commented on #1017
I've also tried a modified version of the netgear model:

[code]

However still no luck:

[code]

[code]

[2017-09-07 08:23] laf commented on #1017
Your second attempt looks like it's working, it's printing asdf and then expecting the next prompt. Does the next prompt when you login manually match that regex? `/^.+[#]$/`

[2017-09-07 08:25] laf commented on #1016
Do you have windows line encodings in your model? Just noticing the ^M at the end of the line?

[2017-09-07 09:35] howardjones commented on #425
I just installed yesterday and it looks like this never did happen... just curious though: what is the intended meaning of the 'default' field and listing multiple outputs if you can only ever use one?

[2017-09-07 09:36] mattie47 commented on #1017
Yeah the next prompt after that is awplus#

If it is entering the password(and perhaps failing to press enter or
something), it's not obvious because I never see anything in the debug logs
after the enable password prompt.

The device itself simply shows the enable login timing out.

Thanks,

Matt

On Thu, 7 Sep 2017 at 8:23 PM, Neil Lathwood <notifications@github.com>
wrote:

[2017-09-07 10:30] howardjones opened #1019 "Is there a forum/mailing list/community for oxidized?"
I'm looking at moving from RANCID to Oxidized, and keep coming up with questions that are not really issues. I can't see any place to ask these questions. Is there one? (I guess technically, some of them might *become* docs issues).

Like:
1) how do I specify ssh parameters (like sshv1 (ancient console server), or specifc crypto)
2) how do I faultfind failed connections? Device fails to connect in

[2017-09-07 11:37] Ondjultomte opened #1020 "Error launching oxidized for the first time"
[code]
`
[code]
`

[2017-09-07 11:38] Ondjultomte commented on #1020
29,3 is "default: csv" in the conf file. I don't see the error there. Any ideas?

[2017-09-07 13:07] Chris-B-Chicken commented on #1012
Nope, it wont work. Mabye it is interesting that the shell need about 5seconds to get a connection?

[2017-09-07 18:57] laf commented on #1019
IRC channel #oxidized on freenode or [gitter](https://gitter.im/oxidized/Lobby?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge)

https://github.com/ytti/oxidized/issues/224

You can turn on debugging: https://github.com/ytti/oxidized#debugging

Not sure. This is the library it uses: http://net-ssh.github.io/net-ssh/

No. This is usually dealt with via whichever source you

[2017-09-07 19:13] howardjones commented on #1019
I thought I'd tried debugging and got no more info. I will recheck.

Will check out gitter!

Sorry, I missed the relative URL part in the giant readme.

[2017-09-07 19:27] laf commented on #1020
[code]

map: looks indented incorrectly. Try adding 2 more spaces before it.

[2017-09-07 19:28] laf commented on #1012
No docs on the models I'm afraid, only looking what is already done and then checking what those lines of code do in Ruby.

[2017-09-07 19:32] laf commented on #1017
Maybe switch from `send` to `cmd`. I think `cmd` does wait for the prompt, `send` is just a raw data send.

[2017-09-08 04:00] mattie47 commented on #1016
Hi @laf,

Here's my entire model file below.

I'm aware of the different line encoding between windows and linux, but I'm not sure exactly what you might be looking for in my model file?

See below:

[code]

Also thanks for the help. I've seen your name pop up on at least 7 repositories I've looked at from oxidized to mkdocs to controlling sony bravia TVs and home-assistant :-)

Thanks,

Matt

[2017-09-08 04:14] laf commented on #1016
@mattie47 Windows line encoding wouldn't show in a paste here, run dos2unix <filename>

If dos2unix isn't installed you should be able to install it via yum or apt.

[2017-09-08 05:10] mattie47 commented on #1016
@laf

Tried that. No change.

However, I have managed to get it to work provided I don't do the command "term no length".

[code]

If I hash out the above, the exit gets run, and the config saved as a result. Great. However it would be good to figure out why this is causing a problem...

Perhaps oxidized is sending in the command too quick while the terminal is set to no length or something...

Su

[2017-09-08 05:10] #1016 closed

[2017-09-08 06:04] mattie47 commented on #1017
Okay, so I've had some progress on this.

Since switching to telnet, I can get this to work. With the following config:

**Relevant oxidized config**
[code]

**Model config:**

[code]

Note the expect was definitely needed. Without it, it failed to do cmd vars(:enable).

[code]

So above is  success with Telnet.

Now on to what SSH does:

[code]

Is it me or is it applying the wrong RegEX via ssh.

[2017-09-08 06:29] mattie47 commented on #1017
To me this looks like an issue in ssh.rb where it's not applying the string /^Password:\s/ for the expect I'm using.

[code]
Looking at /var/lib/gems/2.3.0/gems/oxidized-0.20.0/lib/oxidized/input/ssh.rb

[code]

I don't really know Ruby well enough for how I might be able to fix this though.

Thanks,

Matt

[2017-09-08 10:06] Ondjultomte commented on #1020
Thnx! That solved it!

[oxidized@localhost oxidized]$ oxidized
Puma starting in single mode...
* Version 3.10.0 (ruby 2.0.0-p648), codename: Russell's Teapot
* Min threads: 0, max threads: 16
* Environment: development
* Listening on tcp://0.0.0.0:8888
Use Ctrl-C to stop

Now I need to check why I get a timeout trying to access the vms IP, 0.0.0.0 should listen to any IP.

[2017-09-08 10:58] laf commented on #1020
Feel free to jump on gitter/irc if you need about the timeout issue. Seems most likely to be a firewall issue now. Run `lsof -i:8888` to make sure it's actually listening.

[2017-09-08 10:58] #1020 closed

[2017-09-08 14:39] Ondjultomte opened #1021 "TypeError at /node/fetch/switchname"
I have added a test switch which I can reach with ssh from the oxid host with the supplied l:p in the config file.
When I press the "configurtation" button to backup the conf I get the error:

TypeError at /node/fetch/Switchname
no implicit conversion of nil into String
file: file.rb location: read line: 42

[code]

Any ideas ?

[2017-09-08 17:33] laf commented on #1021
You should pastebin your config.

[2017-09-08 18:28] MajesticFalcon commented on #1003
If nobody is working on this, I can write it up. I have a UNIFI switch.

[2017-09-08 19:50] ja-frog opened #1022 "ASR 9k outputs a timestamp with every command"
My first time posting anything so I am sorry if I go about this the wrong way. I recently set Oxidized up to backup the config of a new ASR 9k router. Unfortunately, it outputs the timestamp after every command which makes it think that the configuration has changed with every poll. My workaround has been to add `post_login 'terminal exec prompt no-timestamp'` at line 146 to turn this feature off.

[2017-09-09 12:09] mattie47 commented on #1017
Actually I quite possibly may have gone on a rather incorrect tangent....

I've finally managed to get this to work, for both ssh and telnet, although I don't know why the configuration needed to be so nit-picky. The "winning" moment was finding /r/n would get past the enable password.

**Observations:**
- I must use "send" for enable\n.
--  Using cmd enable\n I don't get expect /^Password:\s/ com

[2017-09-09 18:56] laf commented on #1022
Is `terminal exec prompt no-timestamp` session specific or does it change the devices config?

[2017-09-09 19:12] Ondjultomte commented on #1021
It was a special character in the password that was causing the error ... should have spotted that one.

[2017-09-09 19:19] #1021 closed

[2017-09-10 14:54] ja-frog commented on #1022
It is session specific

[2017-09-10 18:12] laf commented on #1022
I'd say submit the change as a pr then :)

[2017-09-11 05:43] dineshdil commented on #369
I have installed oxidized and configured for 17 nodes but its eating high CPU and taking a long time even to attempts for backup. I tried with 3 nodes also but the same problem.

oxidized -v
0.20.0
ruby -v
ruby 2.2.6p396 (2016-11-15 revision 56800) [x86_64-linux]

I have tried with ruby 1.9, 2.0 2.1 but same problem.

  PID USER      PR  NI    VIRT    RES    SHR S  %CPU %MEM     TIME+ COMMAND
1556

[2017-09-11 05:46] dineshdil opened #1023 "High CPU utilization"
I have installed oxidized and configured for 17 nodes but its eating high CPU and taking a long time even to attempts for backup. I tried with 3 nodes also but the same problem.

oxidized -v
0.20.0
ruby -v
ruby 2.2.6p396 (2016-11-15 revision 56800) [x86_64-linux]

I have tried with ruby 1.9, 2.0 2.1 but same problem.

PID USER PR NI VIRT RES SHR S %CPU %MEM TIME+ COMMAND
15566 oxidized 20 0 1079.2

[2017-09-11 08:28] laf commented on #1023
Please pastebin your config

[2017-09-11 08:41] dineshdil commented on #1023
cat config
---
username: username
password: password
model: vrp
interval: 3600
use_syslog: false
debug: false
threads: 30
timeout: 20
retries: 3
prompt: !ruby/regexp /^([\w.@-]+[#>]\s?)$/
rest: 127.0.0.1:8888
next_adds_job: true
vars: {}
groups: {}
models: {}
log: /home/oxidized/.config/oxidized/logs/log
pid: /home/oxidized/.config/oxidized/pid
input:
  default: ssh, telnet
  debug: true
  ssh:

[2017-09-11 10:21] jasonyates commented on #887
I have just updated to 0.20.0 ( from 0.19.0) along with updating Ruby.

I'll monitor for the next few weeks and see if we get the same slow down.

Is there any form of debugging I can enable to help diagnose?

Thaks

[2017-09-11 11:07] laf commented on #1023
In the other issue you commented on, that user said switching from csv to http as the source resolved the issue. Can you do that?

[2017-09-11 13:46] dineshdil commented on #1023
to change the source from csv to http, I need to use another app which can get integrated with oxidized. CSV is easy to use & integrate.. can you suggest any app/module for http?

[2017-09-11 14:44] #178 closed

[2017-09-11 16:32] laf commented on #1023
LibreNMS works but that's probably hugely overkill for just feeding data to Oxidized. You can just use a static file from a web server, as long as it outputs json you can use it to test.

[2017-09-11 20:21] #1001 closed

[2017-09-11 20:50] danilopopeye commented on #1019
can you provide a pastebin with the stacktrace?

[2017-09-12 10:54] tslytsly commented on #1003
@MajesticFalcon that would be great.
I have several different models, so I'm happy to test.

[2017-09-12 13:52] howardjones commented on #1019
Here's the stacktrace:

[code]

As far as I can see, it's something that useful to the developer but not the end user. No information about what happened (no route? No response? connection refused? login failed? some protocol error?)

As it happens, in this case, I now know it's because the device is a very old cisco console server and it only speaks SSHv1.

[2017-09-12 13:55] tyler-8 commented on #1000
@chipgwyn Good validation there, that was going to be my next step. I'm beginning to wonder if something from one of these functions is causing the issue:

[code]

[2017-09-12 14:12] danilopopeye commented on #1019
yeah, I know it is not helpful but the connections lib (ssh & telnet) don't give much info why the connection couldn't be made.

@howardjones there is any other point that you still need help, or can we close this issue?

(not wanting to be rude or anything, but I'm trying to keep the issues and pull requests here under control)

[2017-09-12 14:16] chipgwyn commented on #1000
The confounding thing is its not consistent.  Where it breaks in the file seems to be different and it doesn't do it every time.  I was thinking maybe its something to do with the number of devices.  I ran oxidized with only three devices; two controllers and one normal cisco switch.  The cisco pulled perfectly every time, the controllers seemed kind of random.

I think my next step is to check th

[2017-09-12 14:31] howardjones commented on #1019
question 4 is still bothering me, but please close the ticket. I understand the motivation :-)

[2017-09-12 14:31] #1019 closed

[2017-09-12 14:33] tyler-8 commented on #1000
I've observed the same behavior. Here are a couple screenshots of the "changes" that oxidized sees, even though they aren't actually changing, it just fails to parse at different parts of the config.

![Uploading aosw1.jpg…]()
![aosw2](https://user-images.githubusercontent.com/17618971/30331425-c883fae2-97a5-11e7-8685-ca8616a37fd6.jpg)

[2017-09-12 14:55] danilopopeye commented on #1023
can you post a sanitized version of you `router.db` too, please

[2017-09-12 15:07] danilopopeye commented on #1014
@Wax-Trax could you try a [git gc --auto](https://git-scm.com/docs/git-gc) and see if the size of the repository changes? This should make your repository more optimized and faster.

[2017-09-12 15:14] danilopopeye commented on #1003
yeah, i think this is the only way that will work today.

@MajesticFalcon let us know if you need any help 😉

[2017-09-12 15:17] danilopopeye commented on #714
@jasonyates ping

[2017-09-12 15:17] danilopopeye commented on #990
@sts can you post a example from a device?

[2017-09-12 15:20] danilopopeye commented on #988
@mrplow87 do you have the DEBUG logs from a occurrence of this problem? can you also provide a example request you make?

[2017-09-12 17:09] dineshdil commented on #1023
10.11.4.2:ciscosmb:cisco:cisco@123
10.15.25.254:ciscosmb:cisco:Admin@123
10.11.4.38:tplink:admin:admin
10.11.4.66:Mikrotik:admin:Admin@00::1023
10.11.4.246:Mikrotik:admin:Admin
#router_ip:ios:username:password:enable_password:port

Now I have configured HTTP where CPU utilization look good but its difficult to configure for each device as LibreNMS only provide ip & os name in response. e.q.
{

[2017-09-12 18:38] ZacharyPuls commented on #990
@danilopopeye I'm not the OP, but here's what I've used in the IOS `show running-config` output to determine which user changed the config:
![gitlab-update](https://user-images.githubusercontent.com/15753366/30342459-9728d7a0-97bf-11e7-800e-0dfbea924f6f.PNG)

[2017-09-13 11:10] jasonyates commented on #887
So this still happens after the upgrade to 0.20.0, it actually died after only a few hours this time around.

I noticed the following in the logs right before it fell back to only running once every 5 minutes

W, [2017-09-11T09:02:51.983719 #27673]  WARN -- : 172.x.x.x raised Net::SSH::ConnectionTimeout (rescued RuntimeError) with msg "timeout during server version negotiating"
W, [2017-09-11T09:0

[2017-09-13 15:24] Wax-Trax commented on #1014
Thank you so much!! That seems to have done the trick. I have 130,000 objects in my local repository. I have about 20 Fortigate firewalls that backup every single hourly run because they have little bits and pieces that change each time. If it becomes a problem in the future, I'll probably end up removing them from the backup.

On a related note, I know I can edit the *.rb files to try to skip the

[2017-09-13 20:26] laf commented on #1014
No that's not supported.

[2017-09-13 21:08] Wax-Trax commented on #1014
Thanks again everyone, I really appreciate your time and support.

[2017-09-13 21:08] #1014 closed

[2017-09-13 22:30] papatango71 opened #1026 "SSL_connect error"
I apologize in advance if this is not the correct place to ask this question.....  I am getting this error when trying to start oxidized:

oxidized@nms01-eqch2
[/home/oxidized/.config/oxidized]$ oxidized
SSL_connect returned=1 errno=0 state=error: certificate verify failed
/usr/lib/ruby/2.3.0/net/http.rb:933:in `connect_nonblock': SSL_connect returned=1 errno=0 state=error: certificate verify fail

[2017-09-14 06:32] laf commented on #1026
Guessing you've got a self signed cert or similar? You can disable ssl verification, config option should be in the docs.

[2017-09-14 13:56] wxcafe opened #1027 "SLX-OS support"
So I started writing a model for SLX-OS (based on the IronWare one) and it kinda works, but doesn't go further than `show system`, then it timeouts :

[code]

I've got no idea why though, so if you could help it would be greatly appreciated. Attached the model file I've written up so far (I figure it's not a PR, but it's better than an issue, right? :p)

[slxos.rb](https://github.com/ytti/oxidized

[2017-09-14 14:59] papatango71 commented on #1026
@Laf Thank you for pointing me in the right direction.  I thought the error was Ruby related and not something I could resolve in the Oxidized config.  Changing the input to "secure: false" fixed the issue.

Thank you.

[2017-09-14 14:59] #1026 closed

[2017-09-14 19:59] danilopopeye commented on #1027
@wxcafe could you enable the input `debug` and check where the timeout is raised. can you also provide your config?

yeah, it is 👏

[2017-09-15 04:15] papatango71 opened #1028 "A10 Networks TPS support"
The current A10 Networks module works great for the ADC platform but does not work for the TPS platform.  Below are the commands that would need to be added to a new module specifically for the TPS devices.

[code]

Below is what I am seeing in Oxidized:

              ! ! COMMAND: show version

              ! Thunder Series Unified Application Service Gateway TH4435S TPS

              !   Copyr

[2017-09-15 07:35] dineshdil commented on #1023
Hi, Do you see anything wrong on configuration?

[2017-09-15 08:32] wxcafe commented on #1027
What do you mean by "enable the input `debug`"? if this is about the `-d` switch to oxidized, the log I show in my previous comment is the result of having it enabled.

I can't give you the entire config, but I can give you the part that configures the SSH daemon. I figure it's pretty normal but 🤷‍♂️

[code]

The weird thing is that when I run it by hand, it seems to work fine. Yes, `show system`

[2017-09-15 12:38] wallys65 opened #1029 "Cisco IOS version 12.2 and 15 different configuration"
Dear Sirs,
I have configured Oxidized  for backup configuration of the Switch Cisco with IOS Version 12.2 and 15.0.

It isn't the same configuration, because for the command **show running-config** the "privilege" on Switch V 12.2  must be 15 ( it doesn't working with other privilege) and the file ios.rb in Oxidized is the default instead for V15 the "privilege" must be 6 and the command will be *

[2017-09-15 17:25] joseaugustocardoso opened #1031 "Version Not Found when enable Git output"
I changed config output from file to git to use versioning feature.

the diffs working fine, but I cannot see the configuration.

the message error is: version not found

[2017-09-16 19:05] laf commented on #1031
Is this related? https://github.com/ytti/oxidized/issues/866

[2017-09-16 20:54] joseaugustocardoso commented on #1031
Thanks @laf, it exactly same case. Fixed.

[2017-09-16 20:54] #1031 closed

[2017-09-18 02:25] fernandoccs17 opened #1032 "Windows support?"
Any plans to include windows support?

[2017-09-18 10:29] amaizenshtein opened #1033 "Oxidized with Librenms"
Please advise , my oxidized crushes, and give me the following errors in the crush log

[code]

[2017-09-18 12:24] laf commented on #1033
Post your config file, you have an issue in it,

[2017-09-18 12:27] amaizenshtein commented on #1033
log: ~/.config/oxidized/oxidized.log
interval: 3600
use_syslog: false
debug: true
threads: 30
timeout: 20
retries: 3
prompt: !ruby/regexp /^([\w.@-]+[#>]\s?)$/
rest: 127.0.0.1:8888
vars: {}
groups:
   Arista:
     username: xxx
     password: xxx
   Juniper:
     username: xxx
     password: xxx
   PAN:
     username: xxx
     password: xxx
pid: /root/.config/oxidized/pid
input:
  default: ssh
  d

[2017-09-18 12:28] amaizenshtein commented on #1033
Actually from the logs I see that instead of using the right usernames, it uses username

D, [2017-09-18T12:25:07.916867 #13668] DEBUG -- : lib/oxidized/node.rb: Oxidized::SSH failed for dl1apfw01b.pan.local
D, [2017-09-18T12:25:07.916935 #13668] DEBUG -- : lib/oxidized/job.rb: Config fetched for dl1apfw01b.pan.local at 2017-09-18 12:25:07 UTC
W, [2017-09-18T12:25:08.050459 #13668]  WARN -- : dl1a

[2017-09-18 12:35] laf commented on #1033
Add a git email address as per the config.

[2017-09-18 12:46] amaizenshtein commented on #1033
Added email, same result

[2017-09-18 12:46] amaizenshtein commented on #1033
these are the logs

D, [2017-09-18T12:45:11.837511 #2166] DEBUG -- : lib/oxidized/node.rb: Loading model "arista_eos"
E, [2017-09-18T12:45:11.839549 #2166] ERROR -- : node {:name=>"dl1apsp01.pan.local", :model=>"arista_eos", :groups=>"Arista"} raised Oxidized::ModelNotFound with message 'arista_eos not found for node 10.102.126.1'
D, [2017-09-18T12:45:11.839603 #2166] DEBUG -- : resolving DNS for

[2017-09-18 12:48] laf commented on #1033
So that's not the same result. Now you're asking a different question which looks like it's because you are trying to model_map your group names to an OS which is not what it's there for. model_map is to map the OS in your source to the OS in Oxidized. So arista_eos: eos would work.

[2017-09-18 12:50] amaizenshtein commented on #1033
do you mean to change in config to this:
model_map:
  Arista: eos

or changes in config.php are also required?

[2017-09-18 12:51] laf commented on #1033
No change the arista one as I put above. `arista_eos: eos`. The others are wrong as well.

You only need to use the map if the OS name in LIbreNMS is different than what oxidized uses.

[2017-09-18 12:56] amaizenshtein commented on #1033
See this:

[root@dl1-librenms-srv01 oxidized]# curl -H 'X-Auth-Token: df758cfca87def7d906d7ff763476589' http://127.0.0.1/api/v0/oxidized
[
    {
        "hostname": "dl1its01.pan.local",
        "os": "arista_eos",
        "group": "Arista"
    },
    {
        "hostname": "dl1its02.pan.local",
        "os": "arista_eos",
        "group": "Arista"
    },
    {
        "hostname": "dl1apfw01a.pan.l

[2017-09-18 12:57] laf commented on #1033
No, stop trying to map group names. It's the OS you are mapping.

I don't think you need junos or panos ones.

[2017-09-18 12:59] amaizenshtein commented on #1033
I've 3 types of devices, I didn't use global naming, I divided them to groups,

[2017-09-18 13:00] amaizenshtein commented on #1033
Can you please provide me the right config I should use in my case, based on the file config above?

[2017-09-18 13:00] laf commented on #1033
That's fine, it doesn't matter though you only map OS' and you only map them when the names different.

[2017-09-18 13:01] amaizenshtein commented on #1033
do you mean, I can remove this part from the config file?
model_map:
  arista_eos: eos
  Juniper: junos
  PAN: panos

[2017-09-18 13:02] laf commented on #1033
No, the arista needs to be in place - see the different names? The others might not be needed, I don't know without checking. Look at what OS name oxidized uses and see

[2017-09-18 13:08] amaizenshtein commented on #1033
Looks like there is a progress, now on librenms config part I see the following, no configs

Sync status: no_connection

    Node: dl1apfw01b.pan.local
    IP: 10.102.250.101
    Model: PanOS
    Last Sync: 2017-09-18 13:04:43 UTC

    node not found

[2017-09-18 13:10] amaizenshtein commented on #1033
How the librenms pulles the config from git folders? where I should see the configs in git? what is the folder?

[2017-09-18 14:49] amaizenshtein commented on #1033
also I'm getting the following on the logs

D, [2017-09-18T14:46:16.940782 #18575] DEBUG -- : node.rb: resolving node key 'input', with passed global value of 'ssh' and node value ''
D, [2017-09-18T14:46:16.940839 #18575] DEBUG -- : node.rb: returning node key 'input' with value 'ssh'
D, [2017-09-18T14:46:16.940874 #18575] DEBUG -- : node.rb: resolving node key 'output', with passed global value o

[2017-09-18 17:13] danilopopeye commented on #1023
@dineshdil sorry, no idea here. maybe something in the debug logs. have you look at them?

[2017-09-18 19:14] ZacharyPuls commented on #1033
You need the model_map when LibreNMS returns a different OS value than Oxidized can accept. So, if you have a device that returns this from LibreNMS:

    {
        "hostname": "dl1apfw01b.pan.local",
        "os": "palo_alto",
        "group": "PAN"
    }

, then you would need to configure your model_map like this:

    model_map:
        palo_alto: panos

You can see what models are supported [

[2017-09-18 19:33] danilopopeye commented on #1032
not that I'm aware. too many parts that would need to be rewritten.
you could try to run the Docker version 😃

[2017-09-18 19:33] #1032 closed

[2017-09-18 19:36] danilopopeye commented on #1028
@papatango71 could you provide a pull request with a new model? something like `A10TPS.rb`.

[2017-09-19 05:35] papatango71 commented on #1028
@danilopopeye ....  I am not sure how to do what you are asking.  Do you have an example..??

Thank you.

[2017-09-19 11:23] mikaelmantel commented on #1027
Thank you for the input debug.

We think we have found the problem :

[code]

But we don't understand why the command doesn't work, because we can execute it without problem by hand.

[2017-09-21 14:17] yavi commented on #966
libgit2 returns a blob - which is assumed to be ASCII-8BIT, but might as well be anything else (for example utf8 or iso-8859-1). Thus if you have unicode inside the config files, oxidized breaks.

I have wrapped it  using charlock_holmes:
[code]

[2017-09-21 18:23] sebbbastien opened #1038 "Rugged::NetworkError: unsupported URL protocol"
Hi,

I'm running oxidized 0.20.0 on Debian 9.

This config file :

[code]

This configuration file produces this error:

[code]

If I change the push_to_remote configuration:

[code]

With:
[code]

Everything is working fine.

No help needed on my side, let me know if other tests can help you to investigate.

Best regards,
(Thank you for you great tool!)

[2017-09-22 10:47] yeled opened #1040 "Docker container needs => libssh2-1.6 to use ssh keys with passphrases"
cc: https://github.com/libgit2/rugged/issues/530

Fixed in #1039

[2017-09-22 14:27] danilopopeye commented on #1028
@papatango71 you can use the PR #1011 as an example 😉

[2017-09-22 16:07] tnielsen2 opened #1041 "FortiOS Feature Request - Support FortiADC configuration backup"
Deleted

[2017-09-22 22:25] bonigeek commented on #867
I enabled the debug and with vim enabled with :set list and the result is this:

[code]

nothing much.

[2017-09-24 08:37] sts commented on #990
@danilopopeye see below for some examples:

Cisco ASR
[code]

Cisco ASA

[code]

Juniper EX
[code]

[2017-09-25 16:48] danilopopeye commented on #867
@bonigeek looks like the password regexp is not matching your prompt. could you try something simpler like:

    password /password/

[2017-09-25 21:21] #1022 closed

[2017-09-26 09:05] Nightreaver commented on #891
@ytti and where is the "how to" for encrypting inside csv?

[2017-09-26 09:08] laf commented on #891
@Nightreaver this should help: https://github.com/ytti/oxidized/issues/713

[2017-09-26 09:11] Nightreaver commented on #891
so it will encrypt the whole csv file with gpg password ? not just password portion?
Can we also use SSH-key instead?

[2017-09-26 13:25] laf commented on #891
You must provide the encrypted csv originally, it's the gpg password you add to config for oxidized to un-encrypt the file.

[2017-09-26 14:09] danilopopeye commented on #1040
@yeled I'm going to close this one to concentrate the discussion about this in the #1039 you already submitted, ok?

[2017-09-26 14:09] #1040 closed

[2017-09-27 07:59] mikaelmantel commented on #1027
Have you an idea ?

[2017-09-27 14:51] danilopopeye commented on #1027
@mikaelmantel I'm not a network guy just some random ruby dev 😃

Maybe @ytti or @laf can help you debug the device.

[2017-09-27 19:08] laf commented on #1027
Yeah you can give me access to the device. I'll be coming from 46.37.189.93, feel free to send me the login details to the email listed in my github profile.

[2017-09-27 19:09] laf commented on #881
@oernii if you require any further help please reply and we will re-open the issue.

[2017-09-27 19:09] #881 closed

[2017-09-27 19:10] laf commented on #411
@brokerdavelhr If you require any further help, please reply and we will re-open this issue.

[2017-09-27 19:10] #411 closed

[2017-09-27 19:27] rvandepu opened #1044 "Timeout behaviour"
Hi,

Question about the timeout config parameter:
We have some devices in our network with large configurations. Fetching these can take up to about 3~5 minutes. When I set the timeout value to 5 minutes, I notice that the timeout between failed device connection attempts also takes 5 minutes. Is there a different parameter for the timeout on fetching the configuration?

Also, when oxidized is una

[2017-09-27 19:33] laf commented on #584
@lakshveer If you need help still, please reply to this and we will re-open the issue.

[2017-09-27 19:33] #584 closed

[2017-09-27 19:46] laf commented on #651
@arturs0 If you are still having issues please feel free to reply and we can re-open this issue.

[2017-09-27 19:46] #651 closed

[2017-09-27 20:05] laf commented on #1044
I don't believe that a separate timeout is available for fetching the config.

Worker threads are spawned on demand based on your interval value, if all your devices can be backed up within that time with a single thread then that's all that will be used (afaik). More threads will be spawned to complete the full cycle within that interval value.

[2017-09-27 20:16] laf commented on #876
@paszczus If you are still having issues then please reply and we can re-open this issue.

[2017-09-27 20:16] #876 closed

[2017-09-27 20:21] laf commented on #887
That looks like standard output.

We run about 2.5k+ devices and I can't say I notice issues like this.

[code]
This on a `E5620  @ 2.40GHz` with a total of 16 cores and 48G ram. We do see about 65% CPU usage and 20% mem usage.

[2017-09-27 20:23] laf commented on #888
@goro22052 if you are having issues still please reply and we can re-open this issue.

[2017-09-27 20:23] #888 closed

[2017-09-27 20:26] laf commented on #931
@gbeekmans / @sfini can one of you submit a pull request with the fix?

[2017-09-27 20:26] laf commented on #941
@BullfroG21 Any update on this?

[2017-09-27 20:26] laf commented on #944
@Ynnot Any update on this?

[2017-09-27 20:27] laf commented on #955
@victorehp17 any update on this?

[2017-09-27 20:48] brokerdavelhr commented on #411
I am very sorry I never responded to this - all is good - sorry for not responding sooner - our department took some heavy hits, so workload has severely increased :-/

[2017-09-27 21:31] ksedge commented on #1012
I am having the same issue with the Cisco WLC.

I am also a bit new to Oxidized and ruby, so I suspect if I knew what I was doing, I could do this myself

I tried dropping the > from the prompt as suggested and then it logs in but doesn't run any commands.

I get this now via debug;

(Cisco Controller)
User: admin
Password:*******
(Cisco Controller) >

Then it disconnects and runs again

I am tryi

[2017-09-28 07:20] swilson1991 opened #1045 "Cisco IOS Error (raised Oxidized::PromptUndetect with msg ")"
I am currently experiencing this issue with some Cisco IOS devices (C2960X-UNIVERSALK9-M), Version 15.2(2)E1
.
When I have turned input debugging on, it shows that the device logs in and then doesn't go through any of the commands and doesn't pull the configuration file.
I am using advanced group configuration and the device logs in without issue.

Error in log files:
 10.111.10.101 raised Oxidize

[2017-09-28 08:18] rvandepu commented on #1044
Hi,

Thanks for the quick answer.
Would it be feasible to add a `fetch_timeout` parameter as extra config option and use this var in the code for fetching config? To make it backwards compatible: if `fetch_timeout` is not set in the config, use the regular `timeout` value and assign it to `fetch_timeout`.

I've been looking at the code, but I have 0 ruby skills...

[2017-09-28 09:05] Ondjultomte opened #1046 "Configure Oxidized with git"
Do you just install a local git repo
https://linuxprograms.wordpress.com/2010/05/10/how-to-set-up-a-git-repository-locally/

and edit the oxid git conf accordingly?

[2017-09-28 09:34] mikaelmantel commented on #1027
Ok, we have found the problem :

On Slx-os, the role "user" can not use the "terminal length 0" command.

We have created a new read-only role with access to the “terminal” command  :
[code]

After using this role on oxidized, the backup works just fine.
Thanks for your time.
The attached file "slxos.rb" is valid and works fine, we create a PR for this file or you integrate it directly ?

[2017-09-28 10:28] rvandepu commented on #1046
If you use `output: git`, oxidized will create it's own git repo, as defined in the`repo` parameter. No need to set it up yourself.

You can also push the configuration to a remote repo with a hook. It's described in the documentation.

[2017-09-28 11:31] chipgwyn commented on #1000
I see this has the 'bug' label added to it.  Anyone identified the issue?  I'd be happy to provide any output or troubleshooting data, even do an interactive session if needed.  Just let me know what data is needed.

[2017-09-28 11:31] swilson1991 commented on #1045
I have found a related article #747  which said to remove the leading '^'.

After I did this, the devices are successfully backing up. Closing this as resolved.

[2017-09-28 11:31] #1045 closed

[2017-09-28 13:43] Ondjultomte commented on #1046
oxid fails to restart when I use git as output.

systemctl status oxidized -l
● oxidized.service - Oxidized - Network Device Configuration Backup Tool
   Loaded: loaded (/usr/lib/systemd/system/oxidized.service; enabled; vendor preset: disabled)
   Active: failed (Result: exit-code) since tor 2017-09-28 15:41:04 CEST; 53s ago
  Process: 11336 ExecStart=/usr/local/bin/oxidized (code=exited, status=

[2017-09-28 13:51] rvandepu commented on #1046
Could you post your configuration?

[2017-09-28 13:56] Ondjultomte commented on #1046
`diff config config.bak
25,29c25,27
<   default: git
<   git:
<     user: oxidized
<     email: kristoffer.fagerlund@atea.se
<     repo: "/home/oxidized/git/"
---

[2017-09-28 13:58] danilopopeye commented on #1027
glad to head. 😄  can you provide the pull request?

[2017-09-28 14:38] Ondjultomte commented on #1046
It was just a issue with rights.

[2017-09-28 14:38] #1046 closed

[2017-09-28 14:39] sfini commented on #931
@laf
Sure

[2017-09-28 15:50] ksedge commented on #1012
Ignore that - for some reason it has started working now!

[2017-09-28 21:25] papatango71 commented on #1028
@danilopopeye I hope this is what you are looking for.

https://pastebin.com/StywGBGB

If you need more from me on how to add this device please let me know.

[2017-09-29 13:40] matthewaaronthacker opened #1048 "REST API no longer starting with Oxidized"
I recently updated the underlying Ubuntu installation my Oxidized was running on and now the web server doesn't start up anymore. I've turned on debugging but don't see anything of use in there. I didn't change my config at all. I just seems like oxidized never tries to start it's web server now.
I've uninstalled and reinstalled all three oxidized components and run gem update on all the other ins

[2017-09-29 15:20] laf commented on #1048
Please post your config and the output of oxidized when starting it.

[2017-09-29 15:21] laf commented on #1044
I'm sure it's possible :)

[2017-09-29 15:31] matthewaaronthacker commented on #1048
config:
---
username: user
password: pass
rest: 0.0.0.0:8888
model: asa
interval: 3600
use_syslog: false
debug: true
threads: 30
timeout: 1800
retries: 3
prompt: !ruby/regexp /^([\w.@-]+[#>]\s?)$/
vars:
  enable: enable
groups: {}
input:
  default: ssh, telnet
  debug: true
  ssh:
    secure: false
output:
  default: git
  git:
    user: Oxidized
    email: oxidized@example.com
    repo: "/var/lib

[2017-09-29 18:40] laf commented on #1048
Config looks ok but the startup isn't outputting what I see when starting oxidized.

you can try and re-install the gems again to make sure any dependancies are picked up.

[2017-09-29 19:59] laf commented on #1028
@papatango71 He was suggesting to use the PR #1011 as a base for you adding support for this device yourself.

[2017-09-30 09:54] amaizenshtein opened #1050 "Verification"
Hi Guys,

I'm trying to use oxs to push set of commands to my devices
So I basically created a file named username and set cli commands, and run this command

oxs -x username --verbose --threads 5 —group Arista

How I can make sure that all commands were pushed and nothing has failed ? without going device by device to verify?

[2017-09-30 10:14] amaizenshtein opened #1051 "oxidized gather devices from the group"
Guys,

I'm trying to run this command oxs -x username -verbose -d -r 5 —group Arista
to push new username to my Arista group devices which is gathered from Librenms API, if I want to push the config to several devices of this group, please advise how can I run it

[2017-10-01 19:29] laf commented on #1051
This is the same question you've asked over https://community.librenms.org/t/config-push/2183/5.

Can we close this?

[2017-10-02 07:25] amaizenshtein commented on #1051
Yep, you can close it

[2017-10-02 09:24] #1051 closed

[2017-10-02 13:53] bonigeek opened #1052 "Encoding::UndefinedConversionError at /node/version/diffs"
![image](https://user-images.githubusercontent.com/28834599/31080548-5da6710e-a75f-11e7-8c69-3387c9ae7a18.png)

In some devices if I will check the differences it appears

[2017-10-02 15:03] matthewaaronthacker commented on #1048
I've uninstalled and reinstalled twice now and it doesn't help.

[2017-10-02 19:55] laf commented on #1048
Need the rest of the log please.

[2017-10-02 20:02] laf commented on #1052
This appears to be a duplicate of #966.

If it's not please reply why and we can re-open

[2017-10-02 20:02] #1052 closed

[2017-10-02 20:58] clvnzhang opened #1054 "Can't SSH to Arista from oxidized server"
Hello,

  I am having an issue to connect to my arista switch from oxidized server. I have added all the necessary info to the configuration files, but I still get the raised Net::SSH::AuthenticationFailed with msg "Authentication failed error message.

Here are my configs screen shots:
[config_backup.txt](https://github.com/ytti/oxidized/files/1350406/config_backup.txt)

[2017-10-02 20:59] clvnzhang commented on #1054
router.db

![screen shot 2017-10-02 at 1 59 11 pm](https://user-images.githubusercontent.com/22844667/31099165-e78f466a-a779-11e7-80b7-11d78c14c7ca.png)

[2017-10-02 21:12] laf commented on #1054
You should enable debugging and post the debug log.

[2017-10-02 21:18] clvnzhang commented on #1054
![screen shot 2017-10-02 at 1 59 11 pm](https://user-images.githubusercontent.com/22844667/31099898-6c28edf2-a77c-11e7-859c-e9d94269720a.png)

[2017-10-02 21:18] clvnzhang commented on #1054
![screen shot 2017-10-02 at 2 17 12 pm](https://user-images.githubusercontent.com/22844667/31099947-8d4c30ac-a77c-11e7-9d90-f63e67cf41dd.png)

[2017-10-02 21:48] laf commented on #1054
Have you tried with the credentials you specify in the config direct from the oxidized host?

[2017-10-02 21:51] clvnzhang commented on #1054
Yes, I can get to the arista-a.greatergood.net with the credentials I have in the config file. I have checked many times make sure they are matching. ssh oxidized@arista-a is working.

[2017-10-02 21:52] laf commented on #1054
Has the hostname mapped to the IP correctly?

[2017-10-02 21:59] clvnzhang commented on #1054
Yes

[2017-10-02 22:01] bonigeek commented on #966
@yavi I put these lines in webapp.rb, re-starting the oxidized daemon and the new collection came ok for de diffs, but the integral config :( The interesting thing is that it happens only in Cisco wireless devices (Aireos) Cisco 7500 Series Wireless LAN Controller.

In main menu, configuration open ok, in diff page, no.

NameError at /node/version/view
uninitialized constant Oxidized::API::WebApp:

[2017-10-02 22:08] bonigeek commented on #966
To be clearer https://youtu.be/RmIQESgIIAY

[2017-10-02 22:10] laf commented on #1054
And you've restarted since you added them?

[2017-10-02 22:11] clvnzhang commented on #1054
Just did a restart and it still gave the error message.

[2017-10-02 22:42] clvnzhang commented on #1054
I just added another arista switch and it is also gives the same message.

[2017-10-03 12:28] matthewaaronthacker commented on #1048
I guess that's part of what I'm asking - is there some way to turn on MORE logging than just the debug=true flag? I've been over and over that logging and there's nothing in there related to the web server starting up.

[2017-10-03 13:01] Ryuraiden opened #1055 "Oxidized is not using all the show commands in ios.rb file"
Hello,

As the title says, oxidized is running and working, but it is only using "show vtp" and "show version" commands. I tried to uncomment those commands and left the "Show running-config", but no output is given in the file.

This is my oxidized/config file

and this is the ios.rb file:

`class IOS < Oxidized::Model

  prompt /^([\w.@()-]+[#>]\s?)$/
  comment  '! '

  # example how to handle p

[2017-10-03 14:49] chasgames commented on #445
Thank you !!!!! binding to 0.0.0.0 fixed the issue

[2017-10-03 20:18] laf commented on #1048
No that's all but once the hosts are loaded more debug output will show.

[2017-10-03 21:40] ja-frog opened #1058 "Adtran Operating System"
I created a simple class for handling the Adtran Operating System (AOS). This is to pull configs from our Total Access 5000 and NetVanta equipment. Two kind of minor issues popped up:

1. What to call it for a pull request? AOS is already taken for Alcatel. Perhaps Adtran_AOS?
I might be going out on a limb in assuming that anyone would want to fold it in.
2. As part of the captured output, I am g

[2017-10-04 12:58] matthewaaronthacker commented on #1048
Here is the log until it kicks into the the repeating Jobs 0, Want: 1 stuff. I've done my best to sanitize this but if you see something I missed please let me know so I can delete this comment ASAP.

root@oxidize:~# oxidized
I, [2017-10-04T08:17:03.697113 #22488]  INFO -- : Oxidized starting, running as pid 22488
I, [2017-10-04T08:17:03.702486 #22488]  INFO -- : lib/oxidized/nodes.rb: Loading nod

[2017-10-04 17:16] danilopopeye commented on #966
file: webapp.rb location: block in <class:WebApp> line: 181

@bonigeek this problem is cause by ruby constant lookup. this should fix it:

[code]

[2017-10-04 18:58] bonigeek commented on #966
Same error

[2017-10-04 19:56] laf commented on #1048
I'm not sure :(

@danilopopeye any idea?

[2017-10-05 07:54] jh1990 commented on #966
Sry for my late reply.

The resolution from @danilopopeye works for me.

@bonigeek just add `require 'charlock_holmes'` at the top section of the webapp.rb

[2017-10-05 07:56] jh1990 commented on #966
Show diff throws the same error. Where should i put the CharlockHolmes code to get it to work?

[2017-10-05 15:01] matthewaaronthacker commented on #1048
Going to close this issue as I have now copied my config and data over to a new server and things are working again.

[2017-10-05 15:01] #1048 closed

[2017-10-08 19:53] FrankyLibre opened #1059 "Problem starting oxidized"

[2017-10-08 19:59] FrankyLibre commented on #1059
have a Problem to start oxidized: any ideas ?

root@LibreNMS:/opt/librenms/oxidized/docs# oxidized
I, [2017-10-08T21:50:06.489809 #15316]  INFO -- : Oxidized starting, running as pid 15316
F, [2017-10-08T21:50:06.491765 #15316] FATAL -- : Oxidized crashed, crashfile written in /root/.config/oxidized/crash
undefined method `empty?' for nil:NilClass
/var/lib/gems/2.3.0/gems/oxidized-0.20.0/lib/oxidi

[2017-10-08 20:01] FrankyLibre commented on #1059
have a Problem to start oxidized: any ideas ?
root@LibreNMS:/opt/librenms/oxidized/docs# oxidized
I, [2017-10-08T21:50:06.489809 #15316] INFO -- : Oxidized starting, running as pid 15316
F, [2017-10-08T21:50:06.491765 #15316] FATAL -- : Oxidized crashed, crashfile written in /root/.config/oxidized/crash
undefined method empty?' for nil:NilClass /var/lib/gems/2.3.0/gems/oxidized-0.20.0/lib/oxidized

[2017-10-08 22:12] cryol commented on #1059
@FrankyLibre
this not correct:

I recommend changing all paths to absolute ones (including file: ~/ .config/oxidized/router.db)
see my [config](https://pastebin.com/5vDgMkBt)

[2017-10-09 07:26] FrankyLibre commented on #1059
i change the config, but the same error

---
username: admin
password: taylormade
model: procurve
interval: 3600
use_syslog: false
debug: false
threads: 30
timeout: 20
retries: 3
prompt: !ruby/regexp /^([\w.@-]+[#&gt;]\s?)$/
rest: 127.0.0.1:8888
next_adds_job: false
vars: {}
groups: {}
models: {}
pid: /home/oxidized/.config/oxidized/pid
input:
 default: ssh, telnet
 debug: true
 ssh:
  secure: fal

[2017-10-09 18:02] ja-frog opened #1060 "Telnet debug logs are appended to"
According to https://github.com/ytti/oxidized/blob/master/docs/Configuration.md#debugging, debugging should overwrite the existing logs. This works as expected with SSH. With telnet, however, it keeps appending to the file.

[2017-10-09 20:16] ja-frog opened #1061 "Class for handling models that do not request a username"
I am trying to create a class to retrieve the configuration for a Calix B6 device. These aren't prompting Oxidized for a username when it tries to sign into them, only a password. From reading #573, I gather that these can be handled by dropping the stanza for username from the class for the model. I tried this, as seen in the code below, but it still seems like it is waiting on a username.

Would

[2017-10-10 01:33] cryol commented on #1059
@FrankyLibre, see this:
https://pastebin.com/HEuAcb1s
it's work!

[2017-10-10 07:51] carlofab commented on #887
Hi, in my environment I'm having the same behavior: starting from last friday, after 70 devices, Oxidized takes 5 minutes to begin the backup of the next devices instead the average of 30 secs.
I'm using Oxidized 0.20.0 with Ubuntu 16.04.3 and I use cron to start and stop Oxidized for the daily backup.
Any suggestion?

[2017-10-11 03:41] rfdrake commented on #1029
I think this is the same as issue #213

I think the final proposed solution seems like the best one.   Having an ios_rbac flag on nodes that are configured for rbac means there is no weird parsing for unsupported nodes or nodes that just don't have it turned on.

[2017-10-11 07:18] laf commented on #1029
@wallys65 as pointed out this is a duplicate, please try the suggested fixes in #213 and comment there.

[2017-10-11 07:18] #1029 closed

[2017-10-16 07:30] ngnix opened #1065 "node not found - memory leak"
Hello! I have oxi with zabbix, zabbix check last backup status via API http://10.110.55.100:8000/oxidized/node/show/'."$zbx_hostname
If node not found , oxidized have error and memory leak:

Oct 16 13:53:39 nbm oxidized: 2017-10-16 13:53:39 - Oxidized::NodeNotFound - unable to find '%NODE-NAME%':
Oct 16 13:53:39 nbm oxidized: /usr/local/share/gems/gems/oxidized-0.20.0/lib/oxidized/nodes.rb:92:in `

[2017-10-16 12:04] chasgames commented on #733
Thank you for posting this, i had the same issue, turned out someone had deleted the API user in LibreNMS.

oxidized_1  | A server is already running. Check /root/.config/oxidized/pid

oxidized_1  | I, [2017-10-16T11:42:27.659244 #207]  INFO -- : lib/oxidized/nodes.rb: Loading nodes
oxidized_1  | F, [2017-10-16T11:42:27.669341 #207] FATAL -- : Oxidized crashed, crashfile written in /root/.config/o

[2017-10-16 13:54] MajesticFalcon commented on #1003
@tslytsl I'll ping you once I start working on this. We are about to turn up our first UNIFI switch in the upcoming months.

[2017-10-17 10:37] rverchere commented on #804
Hi @packtman , which Dell switch model do you use? There are many OS versions (powerconnect, force10, dnos6, dnos9, etc.).

You can try with `dnos` model + `enable` parameter.

[2017-10-17 16:56] xq1xq1xq1 opened #1068 "Juniper SRX Config backup not working"
I am not sure if this is the correct place to ask this question, if not then please educate me.

I have installed oxidized (BTW this project is not a silly attempt at rancid but a much superior one :-) )

It works great for my ubitiqui edgeswitch and cisco switches but for some reason it's having issues with my Juniper SRX210 running junos.

My Model Map is:

model_map:
  cisco: ios
  juniper: jun

[2017-10-18 02:27] theherodied opened #1069 "Sudo for Cumulus Linux?"
For Cumulus Linux is it possible to pass sudo -i or something similar at the beginning like enable for Cisco?

When running oxidized against a Cumulus Linux switch with a SSH user other than root will result in this section from Cumulus.rb saying you must be root.

cfg += add_comment 'ACL'
cfg += cmd 'iptables -L -n'

Or does someone know of a better option to get the iptables list?

[2017-10-18 12:56] stiltzkin10 opened #1070 "HP Procurve stacking"
Hello,

Trying to backup a HP Procurve with two members in a stack. Seems like Oxidized gets stuck during login when selecting member stack:

[code]

I tried to add:

[code]

to procurve.rb without success.

[2017-10-18 14:47] xq1xq1xq1 commented on #1068
Found Gitter was the forum for support - posted and resolved issue

[2017-10-18 14:47] #1068 closed

[2017-10-18 21:43] brokerdavelhr commented on #411
Hey guys = sorry for being a pain, but trying to get a graylog 2.3 (w/elastisearch/mongodb) working on ubuntu 16.04 lts server.No issues installing first server (master) - everything went just fine.No issues installing second server - even elasticsearch master/slave is working just fine. However secondary graylog node will NOT add to master. Every config is exactly as stated in the docs. On the se

[2017-10-19 04:41] lplazaparis commented on #425
I would like this feature to be added also :)

[2017-10-19 07:17] laf commented on #1070
What does just pressing enter normally do at that prompt?

Have you enabled debugging to get more info?

[2017-10-19 07:21] laf commented on #411
Think you got the wrong repo :)

[2017-10-19 07:21] stiltzkin10 commented on #1070
Pressing enter takes you to the stack commander (which is what you want).

The log file is full of:

` raised Timeout::Error with msg "timed out while waiting for more data"`

[2017-10-19 07:22] laf commented on #1070
Can you post the debug log pls.

[2017-10-19 09:12] stiltzkin10 commented on #1070
OK, did some more troubleshooting. This solves the problem:

[code]

I will create a pull request for this.

[2017-10-19 14:18] brokerdavelhr commented on #411
So this is not correct?:Ubuntu installation — Graylog 2.3.0 documentation

|
|
|  |
Ubuntu installation — Graylog 2.3.0 documentation

 |

 |

 |

Will downgrade to 2.1 if I have to
    On Thursday, October 19, 2017, 1:21:14 AM MDT, Neil Lathwood <notifications@github.com> wrote:

Think you got the wrong repo :)

—
You are receiving this because you were mentioned.
Reply to this email directly, vi

[2017-10-19 15:36] laf commented on #411
this repository is about oxidized and not graylog.

[2017-10-19 15:46] brokerdavelhr commented on #411
I understand that - and my apologies, was asking if someone knew anyone in the graylog2 side. Sorry about the inconvenience!
    On Thursday, October 19, 2017, 9:36:52 AM MDT, Neil Lathwood <notifications@github.com> wrote:

this repository is about oxidized and not graylog.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-10-19 17:09] AMMNTT opened #1072 "LibreNMS+Oxidized"
Hello i got a problem with setting up versioning in librenms.
it worked once with the files.
i don't know much about the git.
Oxidized crashed :

[root@librenms ~]# oxidized
I, [2017-10-19T19:08:52.410786 #6024]  INFO -- : Oxidized starting, running as pid 6024
F, [2017-10-19T19:08:52.410981 #6024] FATAL -- : Oxidized crashed, crashfile written in /root/.config/oxidized/crash
undefined method `def

[2017-10-20 15:44] laf commented on #1059
Can this be closed @FrankyLibre ?

[2017-10-20 15:46] laf commented on #1072
You have two outputs which isn't currently supported afaik.

Can you paste a formatted version of your config please?

[2017-10-20 21:54] AMMNTT commented on #1072
Sorry laf , i don't know how to do it .
i'm totally new to github i don't know how to use it well.
this is the config file .

[config.zip](https://github.com/ytti/oxidized/files/1403434/config.zip)

[2017-10-23 08:08] okand commented on #1072
The initial post and the zip are formatted the same.

Anyway, I think you need to remove the first `output:` section and indent `user:`,`email:` and `repo:` in the second one. It is probably necessary to do some work to the `source:` section too. Indentation is important with YAML, it's the way it knows which options relate to each other. I use two spaces for each step but you can use any amount a

[2017-10-23 21:07] rioenregistrementsdri opened #1075 "Group authentication - model is used as username"
Hi,

I have been looking for a solution for this all day without any success. I have came across issues #651 and #862 but they don't seem to resolve the problem for me. I'm trying to set different groups for different devices requiring different username/password combos. For some reason it appears that Oxidized is using the model as the username to login to the switch instead of the actual usernam

[2017-10-24 16:33] jlixfeld opened #1076 "Filtering out bad characters"
I added some more commands iosxr.rb, and one of the commands (show version) adds a ^M to the end of one of the lines of output.  This causes mail -s to send the output of oxidized-report-git-commits as an attachment, instead of stuffing the output into the body of the email.

Is there a way that I can filter out when iosxr.rb runs?

[2017-10-24 17:18] AMMNTT commented on #1072
Thanks okand .
Its working fine now . The problem was the Indentation  .

[2017-10-24 17:42] jlixfeld commented on #1076
Fixed..

[code]

[2017-10-24 17:42] #1076 closed

[2017-10-24 18:49] #1072 closed

[2017-10-24 20:22] laf commented on #1075
We use groups extensively at work and haven't noticed this as an issue. I don't have access to the config right now but I'll check tomorrow.

[2017-10-25 10:18] chasgames opened #1078 "Syslog change detection LibreNMS"
Hi everyone,

I have syslog working on LibreNMS, and Oxidized is backing up config at my set interval.

However I can't get the syslog change detection working in Oxidized, I've set  "use_syslog: true" and restarted both librenms and oxidized, made a change on the switch, but oxidized does not run a config backup.

Any Ideas?
Thanks

[2017-10-25 12:21] laf commented on #1078
If you are using the in built syslog collector in LibreNMS then you need to configure the hooks: https://docs.librenms.org/#Extensions/Syslog/#external-hooks

If not, what syslog collector are you using?

[2017-10-25 13:09] su-hy commented on #966
I have the same error, and it happens just like on the video posted above.
The exact error is:
Encoding::UndefinedConversionError at /node/version/view
"\xC2"

It happens on 2 out of 4 ASA devices I have. I added this code as suggested:

puts '*' * 50
puts node.inspect
puts @info.inspect
puts nodes.get_version(node, @info[:group], @info[:oid]).inspect
puts '*' * 50

I got the same error, but in th

[2017-10-26 22:07] timothyfranson commented on #1048
For anyone having the same issue,

I had the same issue.  Tried so many things.  I found that when I reverted oxidized-web to version 0.8.0 it would at least listen again but it wouldn't return anything.  Finally I threw my hands in the air and uninstalled everything from the normal install instructions because my install lives on a box I don't much care about, then reinstalled everying.  IE...

[

[2017-10-27 16:00] chasgames commented on #1078
Thanks @laf perfect.

I added
$config['enable_syslog_hooks'] = 1;

and then the last config line i had to rename ios, to iosxe for my switch, and its working perfectly now.

$config['os']['iosxe']['syslog_hook'][] = Array('regex' => '/%SYS-(SW[0-9]+-)?5-CONFIG_I/', 'script' => '/opt/librenms/scripts/syslog-notify-oxidized.php');

Thanks

[2017-10-27 19:30] laf commented on #1078
Can we close this then @chasgames?

[2017-10-27 23:10] #1078 closed

[2017-10-31 15:11] Ondjultomte opened #1079 "initialize': source returns no usable nodes (Oxidized::Core::NoNodesFound)"
It seems that with 0.20 something changed, both in config and router.db

I did a new installation with 0.20 and ran into problems with oxid unable to find usable nodes. It worked out of the box with 0.19

`[oxidized@xxxx oxidized]$ oxidized
I, [2017-10-31T16:03:29.161167 #1920]  INFO -- : Oxidized starting, running as pid 1920
I, [2017-10-31T16:03:29.161922 #1920]  INFO -- : lib/oxidized/nodes.rb:

[2017-10-31 15:14] Ondjultomte commented on #1079
oxidizedconf:

`username: uuuuu
password: ppppp
model: cisco
interval: 3600
use_syslog: false
debug: false
threads: 30
timeout: 20
retries: 3
prompt: !ruby/regexp /^([\w.@-]+[#>]\s?)$/
rest: 127.0.0.1:8888
next_adds_job: false
vars: {}
groups: {}
models: {}
pid: /home/oxidized/.config/oxidized/pid
input:
  default: ssh, telnet
  debug: false
  ssh:
    secure: false
output:
  default: git
  git:

[2017-11-01 11:37] #1079 closed

[2017-11-01 11:37] Ondjultomte commented on #1079
User error as usual :)

[2017-11-01 13:15] #946 closed

[2017-11-01 14:54] timothyfranson commented on #966
@su-hy , use the last solution from @danilopopeye .  In condensed form, you need to replace lines 178 and 179 of /var/lib/gems/2.1.0/gems/oxidized-web-0.9.2/lib/oxidized/web/webapp.rb (directory may vary, particularly the version after /var/lib/gems/) with the below:
[code]

Then add this requirement line to the top of the file underneath the other requirements:
`require 'charlock_holmes'`

This f

[2017-11-01 16:10] chibi4588 opened #1080 "Issue with "Search in Configs""
I am having an issue upon a new Oxidized deployment when I attempt to use "Search in Configs".  I get an oxidized-web "NoMethodError at /nodes/conf_search, undifined method '[]' nil:NilClass" from file webapp.rb.

Any thoughts on a remedy??  Thanks much!

Here is the output in the logs:

Puma starting in single mode...
* Version 3.10.0 (ruby 2.0.0-p648), codename: Russell's Teapot
* Min threads: 0

[2017-11-01 21:53] laf commented on #1080
Please post your config.

[2017-11-01 21:59] chibi4588 commented on #1080
Iaf,
Thanks.  Here is the config (scrubbed).

---
username: admin
password: xxxxxxxx
model: cisco
interval: 604800
use_syslog: false
debug: false
threads: 30
timeout: 35
retries: 3
prompt: !ruby/regexp /^([\w.@-]+[#>]\s?)$/
rest: 127.0.0.1:8787
next_adds_job: false
vars:  {}
groups:
  XXX_XXXX_Routing_Backbone:
    vars:
      enable: xxxxxxx
models:
  eos:
    vars:
      enable: true
  powerconn

[2017-11-01 22:17] laf commented on #1080
Are the configs themselves being stored ok?

[2017-11-01 22:30] chibi4588 commented on #1080
Yeah, its is just the "Search in Configs" that is broken... and I can't for the life of me figure out why (not that I am a Ruby guy by any stretch).  This is my 3rd deployment of Ox, all with the same config file.  The only thing that I see has changed between the previous 2* deployments, is the version of Puma was updated from 3.9.1 to 3.4.0.  Not sure if this would have any influence, but again,

[2017-11-02 13:26] iscieszka opened #1082 "Problem using GPG"
When running oxidized with gpg enabled I receive the following error:

`undefined` method `new' for nil:NilClass
`/usr/local/rvm/gems/ruby-2.1.2/gems/oxidized-0.20.0/lib/oxidized/nodes.rb:15:in` `block in load': `undefined` method `new' for nil:NilClass (NoMethodError)

with gpg set as false oxidized runs with no problem.

Here is my config:

[code]

I encrypted the file using gpg -c and can decry

[2017-11-02 20:21] jlixfeld opened #1083 "Removed a node from router.db, but oxidized still makes attempts"
Is there something I need to do to make oxidized re-read the router.db file if I make a change to it (ie: remove a device)?  A full oxidized reload seems a little heavy handed, so I'm hopeful there's a simple API call or something?

I tried to find some comprehensive API docs, but I couldn't find anything definitive.

Thanks!

[2017-11-02 20:38] laf commented on #1083
Have you clicked reload in the webui?

[2017-11-02 21:01] jlixfeld commented on #1083
I should have been more clear, sorry.  I was looking for a CLI method so I could automate the re-read when the router.db is changed by my backend.

[2017-11-02 21:09] laf commented on #1083
https://github.com/ytti/oxidized/blob/master/extra/auto-reload-config.runit

[2017-11-02 21:59] chibi4588 commented on #1080
If anyone has any thoughts... would be greatly appreciated.

Thanks!

[2017-11-03 03:17] jlixfeld commented on #1083
Perfect!

I notice that is the same call as what is listed in README.md.  Is that considered the definitive list of Restful API calls then, or is it elsewhere?

[2017-11-03 10:19] chasgames opened #1084 "A server is already running. Check /root/.config/oxidized/pid"
Hello

I'm using the official docker container, but every few days, oxidised just stops working with "A server is already running. Check /root/.config/oxidized/pid".

I think i fixed it before by deleting the file or emptying the pid file.

But now I cant get it to work, I even tried re-creating it with docker-compose down --rmi all, docker-compose up -d

but i still get this in the logs:
oxidized

[2017-11-03 14:48] hostinggeek commented on #784
@davama,

did you have to satisfy any dependencies to make your ldap authentication work?  I'm having problems getting it going.  It seems straight forward enough, but when I try to add the oxidized_ssl.conf to my config, it wont start.  I know this is dealt with outside oxidized-web, but I don't think I'm alone with needing to find alternative login methods.

Thanks,

Rick

[2017-11-05 13:08] laf commented on #1084
Maybe oxidized is crashing. Check dmesg and/or enable debug in oxidized and check the logs after you see the already running message to see if anything further is recorded.

[2017-11-05 13:11] laf commented on #1080
Maybe try Puma 3.9.1 again to see?

[2017-11-05 13:15] laf commented on #1082
Have you checked the debug logs?

Is gpgme installed? `ruby install gpgme`?

[2017-11-05 17:15] sau70networkadmin commented on #1059
I am getting the same error. I'm on Centos 7.

uname -a:
Linux blah.example.org 3.10.0-693.5.2.el7.x86_64 #1 SMP Fri Oct 20 20:32:50 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

The crash log:

--------------------------------------------------
2017-11-05 17:01:17 UTC
undefined method `empty?' for nil:NilClass [NoMethodError]
--------------------------------------------------
/usr/local/share/gems/gem

[2017-11-05 18:37] laf commented on #1059
That's not the same error though.

From the output, it indicates that the config is empty - are you starting oxidized as the user oxidized?

[2017-11-05 22:27] sau70networkadmin commented on #1059
Sorry, I thought it was the same. I am running as user oxidized:

[oxidized@woody ~]$ whoami
oxidized
[oxidized@woody ~]$ oxidized
I, [2017-11-05T17:27:04.337310 #12479]  INFO -- : Oxidized starting, running as pid 12479
I, [2017-11-05T17:27:04.337760 #12479]  INFO -- : lib/oxidized/nodes.rb: Loading nodes
F, [2017-11-05T17:27:04.375039 #12479] FATAL -- : Oxidized crashed, crashfile written in /ho

[2017-11-06 11:44] laf commented on #1059
This should be:

[code]

[2017-11-06 15:39] su-hy commented on #966
@timothyfranson
Thanks for explaining. I already changed the pre-shared key to work around the problem, but now I implemented the solution you posted, and it fixed the underlying issue. I can now properly download old configs which had the old pre-shared key.

Is that not something that should be included in the main oxidized release?

[2017-11-06 16:24] ethanmullins opened #1086 "Start oxidized as service on Debian?"
Is there an easy way to run oxidized as a service on Debian and have it start at boot?

[2017-11-06 17:26] laf commented on #1086
The extras folder contains a variety of startup scripts: https://github.com/ytti/oxidized/tree/master/extra

[2017-11-06 19:52] sau70networkadmin commented on #1059
@laf THANK YOU that did it!  👍

[2017-11-06 20:39] #1059 closed

[2017-11-07 17:49] iscieszka commented on #1082
Forgot to mention I am running on Freebsd 11.1-RELEASE. I had gpgme installed but not through ruby. I installed it and it seems Gpgme is running, but I now crash with
``decrypt_verify': No data (GPGME::Error::NoData)`
Am I formatting the file path wrong?

[2017-11-07 19:54] comp-rnelson commented on #887
I'm running into the same issue. I haven't determined exactly how long it takes to "slow down" to 1 node every 5 minutes, but it happens within a day or two of a restart for sure. Also, the "5 minutes" thing is exactly 5 minutes in between time stamps, plus maybe 1 or 2 seconds.

I'm on v0.20.0
interval: 14400
threads: 40
timeout: 20
retries: 3

[2017-11-07 20:01] laf commented on #1082
The path should be fine assuming it's correct and the file exists in that location.

[2017-11-07 20:28] iscieszka commented on #1082
the path as well as the file should be correct. Could it be a problem with how i encrypted the file? I used gpg -c to encrypt it.

[2017-11-07 21:02] laf commented on #1082
@elmobp is this something you could help with?

[2017-11-07 21:07] elmobp commented on #1082
What version of gpg are you using?

[2017-11-07 21:09] iscieszka commented on #1082
I am running 2.2.1

[2017-11-07 21:15] elmobp commented on #1082
Here is a diff give that a shot? If it works Ill submit another PR I wonder why mine is working locally though :(

[code]

See how you go?

[2017-11-08 10:11] CJloHuK commented on #966
Confirming solution from @danilopopeye.
Had an issue with PaloAlto and librenms config display: Encoding::UndefinedConversionError - "\xE2" from ASCII-8BIT to UTF-8:

Upgraded to latest version oxidized and oxidized-web, implemented the solution and works now.

Thanks

[2017-11-08 10:27] chasgames commented on #1084
Thanks Laf, I enabled debug, but my logs directory is still empty after a restart, unless they all get directed into "docker-compose logs" ?

Unfortunately I temporarily fixed it again by removing the pid file and updating oxidized with docker-compose pull.

I usually get this message every few days, so I will update again with some more info like dmesg.

[2017-11-08 12:25] laf commented on #966
So it seems like this should be something we merge in then. Anyone seen any issues running this patch?

[2017-11-08 14:14] iscieszka commented on #1082
Gave the diff a shot but still no good. I keep getting the same error:

/usr/local/rvm/gems/ruby-2.1.8/gems/gpgme-2.0.14/lib/gpgme/ctx.rb:435:in `decrypt_verify': No data (GPGME::Error::NoData)

how did you set up the encrypted router.db file maybe I am missing something there?

[2017-11-08 14:56] User4574 opened #1087 "New versions of Cumulus use FRR rather than Quagga"
The current model for Cumulus is currently hard coded to get the routing daemon config from /etc/quagga.

In modern versions of Cumulus Quagga has been replaced with FRR, and the directory is no longer symlinked by default.

The model will need updating to support devices running FRR, either by automatically detecting this, or with a configuration variable to select which routing daemon should be

[2017-11-08 15:03] kletteraffe11 opened #1088 "Net::SSH::Disconnect with msg "disconnected: Non-assigned port! (2)""
Hi,
thanks for providing this great software.

I recently installed oxidized on top of a Debian 9.2.1 64bit system. After finishing and providing some basic configuration and one test host i receive some errors in the startup config.
[code]

Is this a configuration error? I couldn't find the need of providing a ssh port in the config file. I'm able to connect to the switch via ssh and the credenti

[2017-11-08 15:07] laf commented on #1082
Did you rebuild the ruby gem after applying the patch?

[2017-11-08 15:23] laf commented on #1088
`D, [2017-11-08T15:41:47.443981 #17520] DEBUG -- : IPADDRESS raised Net::SSH::Disconnect with msg "disconnected: No n-assigned port! (2)"`

Failing with ssh and then it moves on to telnet.

You don't need to specify a port, 22 is tried for ssh by default. Maybe post your config.

[2017-11-08 15:35] iscieszka commented on #1082
I applied the patch, tried running and came up with same error. After that I rebuilt with same error and lastly did a clean reinstall of rvm, ruby and oxidized but always come to the same error.

[2017-11-08 20:29] laf commented on #1082
You need to build the ruby gem manually from git and apply this patch. The docs show you how to do this.

[2017-11-09 07:05] kletteraffe11 commented on #1088
I found my issue. Thought I needed to provide all parameters in my router.db like this:
[code]
After removing the two empty parameters at the end it worked.

[2017-11-09 07:05] #1088 closed

[2017-11-09 08:18] andreas1o commented on #425
Bump =)

[2017-11-09 10:28] nktl opened #1090 "Automatically save device configuration when running Oxidized"
Hi,

It would be great if we could automatically write/save/commit device configuration to persistent memory as a part of Oxidized run (so every night or so). This would be useful for hardware where by default configuration changes are not saved - like on Cisco, where 'write' / 'copy run start' command has to be run manually. It occasionally happens that someone forgets to commit the configuration

[2017-11-09 10:43] laf commented on #1090
This is done per os model. For instance for IOS this is done by do show run rather than show conf and is already part of that model: https://github.com/ytti/oxidized/blob/master/lib/oxidized/model/ios.rb#L118

I can't comment for every model out there but if the device has the ability to show the running unsaved config then the model can make the most of it.

[2017-11-09 10:52] laf commented on #425
If you would like to express interest in this feature please use the 👍 in the first post so you aren't spamming comments which people get notified for.

[2017-11-09 11:20] nktl commented on #1090
Thank you for the prompt response!
I did add

[code]

To ios and iosxr models ('copy run start' there prompts for the file name, which confuses oxidized).

And:

[code]

To nxos model (where 'write memory' command does not exist) - and all of this seems to work very well.

Is it straightforward to expose some flag in global config file (like saveconfig: true) that would then control if the copy/wr

[2017-11-09 12:12] laf commented on #1090
Ah so you're asking to have the ability to actually save the config rather than just backup the current running one.

I would say that this can be done as you've already shown and yes it should be a global config. Here's a PR which adds a new config option: https://github.com/ytti/oxidized/pull/1089/files

I don't do ruby but maybe:

[code]

saveconfig: true

[2017-11-09 12:54] sau70networkadmin commented on #236
I am using ssh, but getting the same (I think) error:

#                    ^
#  % Unrecognized command found at '^' position.
#                    ^
#  % Unrecognized command found at '^' position.
                   ^
 % Unrecognized command found at '^' position.

I changed the switch's hostname to not include spaces and reverted the change I made to the prompt, but no dice. I've also tried dis

[2017-11-09 13:16] admlko commented on #236
This is currently my comware.rb: https://privatebin.net/?0a52e8d7456e8748#J0+6Z6c7LvPrvhM3z1hu9oZ8nXelBaL3/pvRe8bbRmw=

No idea how it differs from upstream version, haven't had time to check it as it works for now.

[2017-11-09 14:45] iscieszka commented on #1082
I built the gem manually from git and applied the patch but still get the same error.

[2017-11-09 15:39] richbibby opened #1091 "cannot find hook "slackdiff" (KeyError)"
Hi,

I get the following after adding the slackdiff hook:

[code]

I have installed the slack-api:

`gem install slack-api`

and my config looks like this:

[code]
 and my Bot has joined the #network-changes slack channel

Thanks

[2017-11-09 20:18] laf commented on #1091
You need version 0.20.0 for slack support: https://github.com/ytti/oxidized/blob/master/CHANGELOG.md#0200

Please update and if your config is correct it should just work.

[2017-11-09 20:18] #1091 closed

[2017-11-09 20:42] richbibby commented on #1091
Thanks Neil.  that's done it

[2017-11-09 22:18] laf commented on #756
This has been merged in now.

[2017-11-09 22:18] #756 closed

[2017-11-10 15:41] jdenoy commented on #1000
same problem here using the firewareos model

[2017-11-10 16:53] iscieszka commented on #1082
So I built a CentOS vm and did the same thing on it and I am running into the same error. Am I supposed to be encrypting the router.db file in a specific way or does gpg -c router.db work fine?

[2017-11-10 16:57] laf commented on #1082
Out of interest how are you building the new gem and installing it?

[2017-11-10 17:58] jsynack commented on #1054
Is this still a problem @clvnzhang  ?

What version of EOS are you running? Is there any AAA config-conflict or anything else? Trailing spaces or other characters from your config?

 I just added two older EOS lab devices (running EOS 4.14.1F) without problems. Authentication is via AAA/tacacs+ for the oxidized user.

[2017-11-10 18:10] iscieszka commented on #1082
for CentOS i followed the documentation first:

RHEL 7 / CentOS 7 will work out of the box with the following package list:

yum install cmake sqlite-devel openssl-devel libssh2-devel ruby gcc ruby-devel
Now let's install oxidized via Rubygems:

gem install oxidized
gem install oxidized-script oxidized-web

and came up with the same error. I then removed all the gems and built from git:

git clone

[2017-11-10 18:10] iscieszka commented on #1082
also got the same error second time around

[2017-11-10 18:52] jsynack commented on #1041
Hello @tnielsen2  ,

Some of the items that are shown for `get system vdom-status` are more operational and that they would be changing constantly - typically you don't want this churn on the configuration database for your devices. These are better sent to a network management application or graphing application to keep long-term trending for these values.

Looking at the `get system status` on a

[2017-11-10 19:39] laf commented on #1082
So you're missing adding the patch :)

[code]

[2017-11-10 19:57] iscieszka commented on #1082
Applied the patch just as you said but still the same error. :(

[2017-11-10 20:07] laf commented on #1082
ok well hopefully @elmobp can shed some light.

[2017-11-10 20:09] jsynack commented on #741
+1 on this.

I  have seen this on several older ASA units. The msec can jitter, so removing the msec and second from the output should keep things running cleaner with just the hour:minute in the output.  While there is the edge case that a jittering second could 'flip' the minute - it is probably not worth the extra code to handle that case.

As @ecm75 shows - this jitters even on the same CLI se

[2017-11-10 20:35] jsynack commented on #1058
(disclaimer: not official policy of oxidized, just generic thoughts)

1. Whatever is unique enough not to stomp on other vendors but applies to the product families that it is supposed to cover.  Ruby naming convention is to CamelCase Class names that are more than a single word. So for example, `AdtranTotalAccess`, `AdtranNetVanta` or just `NetVanta`.

2. There is some discussion on other issues

[2017-11-12 14:11] CJloHuK commented on #966
@laf no issue here since the upgrade + fix

[2017-11-13 01:39] elmobp commented on #1082
Ill see if I can get to it tonight been very busy!

[2017-11-13 01:56] elmobp commented on #1082
[code]

[2017-11-13 07:08] kletteraffe11 opened #1098 "Backup cisco ASA - no_connection"
Hi,

thanks for this great tool! Everything works perfectly fine except for the backup of the ASA Firewall.

I'm using `asa` as os type in my router.db. Looking at the ssh logs i can see the connect is working fine.

[code]

At some point the process of getting the config just stops. The webinterface's status for the device `no_connection`. Is this a timeout problem? The configuration ist pretty b

[2017-11-13 08:04] laf commented on #1033
@amaizenshtein Can this be closed now?

[2017-11-13 08:06] laf commented on #1098
You should enable debug and post the output from the logs.

May also be worth increasing the timeout although 'pretty big' doesn't give us an idea on how big it is

[2017-11-13 08:08] laf commented on #1082
Thanks very much @elmobp :)

@iscieszka Can you test again using this patch pls.

[2017-11-13 08:13] laf commented on #1058
AdtranOS maybe seeing as the A in AOS means Adtran?

Prompt not correct?

Might be worth you submitting the new model as is and people can comment against it.

[2017-11-13 11:03] kletteraffe11 commented on #1098
Sorry for not providing logs.

Increasing the timeout to 40s did the job. A full config is 1235 lines big.

[2017-11-13 11:03] #1098 closed

[2017-11-13 11:19] laf commented on #1098
Odd, we have timeout set to 20s and config spanning ~3000 lines. Are the devices quite remote from the oxidized install as ours have little latency.

[2017-11-13 12:31] udha commented on #1084
I don't know if related but Ctrl+c hasn't been closing properly for me in either direct install nor if I attach to docker container. With direct install of example after ^C I can only get to shell by then backgrounding and running kill %1 then deleting the pidfile manually. Have been too busy to look into it but since I'm not the only one seeing this I'll check it out again tomorrow and see what's

[2017-11-13 14:56] kletteraffe11 commented on #1098
They are on the same network in the same location. No VPN or anything in between, just the routing instance.

[2017-11-13 15:09] iscieszka commented on #1082
Awesome that seems to have worked! Oxidized seems to be running now and decrypting the file.

My only concern is that when running oxidized in debug mode it shows the node value of 's3cret'. Is there a way to hide that? Or a way of encrypting the config file?

[2017-11-13 16:26] amaizenshtein commented on #1033
yep

Alex Maizenshtein | Principal Network Engineer | 3 x CCIE #34560 (R&S/SP/DC)
M: +972-54-6501229   | T: +972-74-7265076  | www.paloaltonetworks.com<http://www.paloaltonetworks.com/>
[cid:image001.png@01D35C59.22638AB0]

From: Neil Lathwood <notifications@github.com>
Reply-To: ytti/oxidized <reply@reply.github.com>
Date: Monday, November 13, 2017 at 12:04 AM
To: ytti/oxidized <oxidized@noreply.

[2017-11-13 16:44] laf commented on #1082
Node value? You mean the passords / enable details or something the config outputs?

[2017-11-13 16:47] iscieszka commented on #1082
specifically when starting up oxidized it shows this:

 DEBUG -- : node.rb: resolving node key 'password', with passed global value of '' and node value 's3cret'

[2017-11-13 16:55] laf commented on #1082
It's only done when debug is enabled but no, you can't stop it happening at that point.

[2017-11-13 17:02] iscieszka commented on #1082
That's all good. Thanks for the help @laf @elmobp !

[2017-11-13 17:27] timothyfranson commented on #966
@laf I've seen no issues since implementing the fix.

[2017-11-14 16:01] #1086 closed

[2017-11-14 19:55] laf commented on #1082
@elmobp would you like to submit a pull request with that patch now it's confirmed working?

[2017-11-14 21:55] elmobp commented on #1082
Sure will get to it later today!

[2017-11-15 09:39] carlofab commented on #887
Hi, today I noticed the issue is back...after 1 week without problems!
Currently I'm using Oxidized with 200 devices.
Looking at the log file it takes "5 minutes" after 15 min from the beginning (after 75 devices). I don't know if this could help to understand the reasons....maybe yes!

[2017-11-15 15:12] iscieszka commented on #1082
Hey, continuing off this post, when I now start up oxidized for the first time it asks for a password

I, [2017-11-15T15:06:59.155688 #36487]  INFO -- : lib/oxidized/nodes.rb: Loading nodes
Enter passphrase

Passphrase:

If I input it it runs fine. When i stop it and start it again it does not ask for one. Should it do that?

[2017-11-15 15:32] pv2b opened #1100 "Netgear model: Does not detect end of configuration file"
It seems part of #920 is still unsolved.

@candlerb mentioned:

I am seeing the exact same issue even with the fixed code. After running "show running-config", the prompt is returned at the end, but it seems that it is not matched correctly. Instead I get a timeout like this:

[code]

My code is stock except for a small change to the prompt regex as per PR #1099

[2017-11-15 15:44] jsynack commented on #1100
Do you have the actual session log to the device? Does it drop to another prompt or is it asking a question like in the original report showed?

The session logs can be collected with setting `debug: true` setting under the `input:` section in your configuration file and (re)starting oxidized.

You will then find the session logs in a `logs` sub-directory in your oxidized directory (typically `~ox

[2017-11-15 15:54] iscieszka commented on #1082
Actually, I just tested this. Its not picking up the password from the config file, rather it uses the one I have to type in. I changed the config file to state gpg_password: 'supers3cret' while keeping the pass on the file as 's3cret'. Ran oxidized and it prompted for pass which I gave as 's3cret' and it is running. If i kill it and restart it, oxidized does not ask for a pass but runs with the o

[2017-11-15 15:56] pv2b commented on #1100
Yes, I have the actual session log. The actual configuration is sensitive and I don't want to post it here, but here is an abbreviated version with the actual config data excluded:

[code]

Also here is a hex dump of the very end of it, to exclude any possible non-printing characters:

[code]

Here is the device info:

[code]

[2017-11-15 16:31] pv2b commented on #1070
Hi, @stiltzkin10

I'm just onboarding a bunch of switches into Oxidized, and I already know I'm going to run into this particular issue. Did you ever end up creating a PR for this? I wasn't able to find one by searching.

[2017-11-15 17:32] iscieszka commented on #1082
Ran into another bug regarding this. When I change the the config file from gpg: true to gpg: false i get this

I, [2017-11-15T17:27:28.648932 #1251]  INFO -- : lib/oxidized/nodes.rb: Loading nodes
D, [2017-11-15T17:27:28.649015 #1251] DEBUG -- : resolving DNS for /root/.config/oxidized/router.db.gpg...
D, [2017-11-15T17:27:28.649040 #1251] DEBUG -- : IPADDR
E, [2017-11-15T17:27:28.651084 #1251] E